/*Answer page*/

.question-topic{
	margin-bottom: 50px;
}
.question-answer{
	border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.eventHeader{
	font-size: 20px;
	color: #333;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.number-view{
	margin-bottom: 10px;
}
.user-name{
	font-size: 17px;
	font-weight: 600;
}
.answer-bar{
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #F6F6F6;
	padding-top: 15px;
	margin-bottom: 20px;
}
.text-area{
	margin-top: 15px;
	margin-bottom: 10px;
}
.photo{
	margin-left: 10px;

}
.photo-in-answer{
	margin-top: -3px;
	margin-left: 0;
	width: auto;
}
.comment{
	margin-top: -10px;
	width: 95%;
    float: left;
}
.edit-block{
	float: right;
	margin-top: -10px;
}
.topic-tag{
	float: left;
    margin-right: 10px;
    background-color: #E9EBEE;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;

}
.topic-tag:hover{
	text-decoration: none;
	background-color: #ccc;
	color: #333;
}
.topic-tag a{
	text-decoration: none;
	color: #333;
}

/*End Answer Page*/
