html, body {height: 100%;}
#Login-Page{
	background-color: #fff;
	min-height: 100%;
    height: 100%;
}
	#Login-Page .col-lg-12, #Login-Page .col-md-12, #Login-Page .col-sm-12, #Login-Page .row{
		height: 100%;
	}
.leftPage{
	-webkit-background-color: #009999;
	-moz-background-color: #009999;
	-ms-background-color: #009999;
	-o-background-color: #009999;
	background-color: #009999;
	height: inherit;
}
	.leftPage > .leftPageContent{
		width: 85%;
		margin: 0 auto;
	}
	.leftPage > .leftPageContent > #epac-logo{
		margin-top: 30%;
	}
	.leftPage > .leftPageContent > h2{
		color: #fff;
	}

#LoginForm{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
}
.glyphicon.form-control-feedback{
	display: none;	
	cursor: pointer;
	pointer-events: auto !important;
}