.background-image{
	background-image: url(../img/background.jpg);
	width: 1368px;
	height: 866px;
	background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
	/*background-size: 1368px 768px;*/
}
#in-page-content{
	min-height: 768px;
}
.login-form{
	position: absolute;
	margin: auto;
	width: 600px;
	background-color: #fff;
	left: 0;
	right: 0;
	top: 20%;
	background-color:rgba(255,255,255,.8);
}
.bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
.social-buttons{
    margin:12px 0    
}
	/*.social-buttons a{
	    width: 49%;
	}*/
.form-group {
    margin-bottom: 10px;
}
@media (max-width: 768px){
.btn-fb{
    margin-bottom: 10px;
}
.login-form{
	width: 400px;
}
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
    width: 100%
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-gg{
    color: #fff;
    background-color:#A01E1D;
    width: 100%;
}
.btn-gg:hover{
    color: #fff;
    background-color:#DF4A32;
}
.logo-text{
	font-size:60px; 
}
