/*Profile page */
.ProfileBanner{
	background: #f6f6f6;
	border: 1px dashed #ccc;
	border-radius: 3px;
	margin-bottom: 50px;
}
.ProfileBanner p.title{
	margin: 8px 16px;
    font-size: 19px;
    font-weight: 600;
    
}
.kb_editor{
	margin: 8px 16px;
}
.topicTitle{
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 -2px;
}
.knowAboutGrid{
	margin: 0 8px 16px 16px;
	width: 470px;
}
.knowAbout{
	background: #fff;
    padding: 0px;
    border-radius: 3px;
    border: 1px solid #eee;
}
.knowAbout p.title{
	font-size: 11px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 8px;
}
.addTopic{
	margin-top: 10px;
}
.left-col .profile-header{
	height: 185px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;


}
.left-content-profile{
	margin-bottom: 10px;
}
.left-col .user_info_big{
	margin-left: 175px;
}
.user_info{
	margin-left: 50px;
}
.user_info .userName{
	color: #333; 
	font-size: 17px;
}
.timeWritten{
	font-size: 13px; 
	color:#aaa;
}
.profile-header p.topicTitle{
	font-size: 28px;
}
.profile-header a.user-des{
	font-size: 15px;
    color: #999999;
}
.editName{
	font-size: 13px;
	color: #fff;
}
.editName:hover{
	color: #999999;
}
.number{
	color: #aaa;
    margin-left: 4px;
    white-space: pre-wrap;
}
.left-content-profile{
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.left-content-header{
	padding-left: 10px;
}
/*end left content*/
.right-col{
	border-radius: 5px;
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.right-col{
	margin-bottom: 10px;
}
.right-col-header{
	border-bottom: 1px solid #ccc;
}
.right-col-body{
	padding-top:5px;
}
.right-col-body .listTopic{
	padding-top:10px;
}
.right-col-body .listTopic .photo_info{
	display: inline-table;
	margin-top: 10px;
}
.right-col-body .listTopic .photo_info .user_info{
	float: left;
    max-width: 200px;
    width: 200px;
    margin:0;
}
.right-col-body .listTopic .photo_info .fa-remove{
	color: #777;
}
.right-col-body .listTopic .search-topic{
	border-bottom: 1px solid #ccc;
}
.right-col-body .listTopic .search-topic>input{
	margin-bottom: 10px;
}
.right-col-body .listTopic .photo_info .remove{
	width: 20px;
	float: left;
}
.right-col-body .listTopic .topic-row{
	padding-bottom: 10px;
}
.right-col-body .listTopic .topicIcon{
	float: left;
	width: 25px;
	text-align: center;
	color: #AAAAAA;
}
/*End Profile Page*/