@charset "UTF-8";
/* CSS Document */
@font-face {
   font-family: RegularBold;
   src: url(../font/NotoSans-Bold.ttf);
}
@font-face {
   font-family: Regular;
   src: url(../font/NotoSans-Regular.ttf);
}
p {
	margin: 0 0 10px;
}
footer{
	position: relative;
	bottom: 0;
}
.navbar-brand-footer{
	padding: 0; 
	width: 100%;
}
/*@media (max-height:800px){
	footer { position: static; }
}*/
/*login form*/

/*end login form*/
/*page content*/
body{
	background-color: #E9EBEE;
	font-family: Regular;
}
.navbar-default{
	background-color: #B92B27;
    border: 1px solid #DDDDDD;
    box-shadow: 0 -2px 0px #ffffff;
    margin-top: 2px;
}
#in-page-content{
	width: 90%;
    margin: 0 auto;

}
.panel{
	/*width: 90%;
    position: absolute;
    top: 50px;*/
    margin-top: 50px;
   	background-color: inherit;
}

.logo{
	height: 52px;
	margin-top: -14px;
}

@media (max-width: 768px){
.navbar-header{
	width: 100%;
}
}

/*Top Menu*/
.search-form{
	display: table;
}
.site-header .search-form > .form-group{
	width: 100%;
}
.site-header .search-form > button{
	display: table-cell;
	width: 50px;
	background-color: #F0F0F0;
}
.site-header .search-form > button:hover{
	width: 50px;
	background-color: #cccccc;
}
.navbar-form .input-group .input-group-btn {

}
@media (max-width: 768px){
.search-form{
	width: 100%
}
.navbar-right{
    float: right;
}
}
@media (min-width: 769px) and (max-width: 799px) {
.search-form{
	width: 350px;
}	
}
@media (min-width: 800px) and (max-width: 857px) {
.search-form{
	width: 400px;
}	
}
@media (min-width: 858px) and (max-width: 890px) {
.search-form{
	width: 450px;
}	
}
@media (min-width: 890px) and (max-width: 950px) {
.search-form{
	width: 470px;
}	
}
@media (min-width: 960px) and (max-width: 991px) {
.search-form{
	width: 530px;
}	
}
@media (min-width: 992px) and (max-width: 1060px){
.search-form{
	width: 450px;
}	
}
@media (min-width: 1061px) and (max-width: 1199px){
.search-form{
	width: 520px;
}	
}
@media (min-width: 1200px){
.search-form{
	width: 600px;
}	
}

/*End Top Menu*/
/*left content*/
.padding-div {
	padding-left: 5px;
	padding-right: 5px;
}
.left-content{
	padding:10px;
	border-radius: 5px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.left-content-header{
	
}
.listTopic{
	margin-top: -3px;
}
.left-content-body .listTopic>ul{
	list-style: none;
	padding: 0;
	margin-top: 10px;
}
.left-content-body .listTopic>ul>li{
	padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    border-radius: 4px;
}
.left-content-body .primary-left .listTopic>ul>li.active{
	background-color: #ECECEC;
}
.left-content-body .primary-left .listTopic>ul>li>a{
	text-decoration: none;
	color: #666;
}
.left-content-body .primary-left .listTopic>ul>li>a:hover{
	text-decoration: none;
	color: #598DBF;
}
.left-content-body .secondary-left .listTopic>ul>li>a{
	text-decoration: none;
	color: #aaa;
}
.left-content-body .secondary-left .listTopic>ul>li>a:hover{
	text-decoration: none;
	color: #aaa;
}
.secondary-left{
	margin-top: 20px;
}
.panel{
	border:0;
}
/*end left content*/
.center-content{
	/*background-color: #fff;*/
	/*padding:10px;*/
	border-radius: 5px;
	border-radius: 5px;
}
@media (max-width: 768px){
.center-content{
	padding-right: 0;
}

}

@media (min-width: 769px) and (max-width: 991px) {
.center-content{
	padding-right: 0;
}

}
.center-content-header{
	border-radius: 5px;
	background-color: #fff;
	padding: 10px;
}
.center-content-body{
	padding-bottom: 20px;
	border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.eventHeader{
	font-size: 13px;
	color: #999999;
}
.eventHeader>span>a{
	color: #999999;
}
.topicItem {
	cursor: pointer;
	font-size: 13px;
	color: #999999;
}
.topicDes {
	font-size: 13px;
	color: #999999;
}
.right-content{
	border-radius: 3px;
	border-radius: 5px;
	background-color: #fff;
}
.right-content-body{
	padding: 8px;
}
.step-containter{
	padding-left: 8px; 
	padding-right: 8px;
	font-size: 14px; 
}
.right-title{
	margin-top: 0px;
	font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
    padding: 0px 0px 10px 20px;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fafafa;
}
.step-row{
	padding-bottom: 16px;
}
.checked{
	color: #ADCC74;
	opacity: 1;
}
.not-checked{
	color: #ADCC74;
	opacity: 0;
}

.underline{

	margin: 7px 0px 0px 0px;
}
.newTopic{
	margin-left: -10px;
}
.topicStatus{
	font-size: 7px;
	color: #2B6DAD;
}
.questionTitle{
	margin-top: 5px;
}
.title{
	font-family: RegularBold;
	font-size:25px;
}

.actionBar{
	float: left;
	margin-right: 12px;
}
.followLink{
	padding: 7px 0 7px 0;
}
.count{
	background-color: #eee;
    padding: 2px 5px 2px 4px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    color: #999;
}
.subButton{
	cursor:pointer;
	float: right;
	color: #999999;
	padding: 0px 5px 6px 5px;
}
.subButton:hover{
	background-color: #eee;
    border-radius: 4px;
}
.inforBar{
	height: 30px;
}
.networkShare{
	font-size:20px;
}
.photo_info{
	margin-top: 10px;
}
.photoDiv{
	margin-bottom: 20px;
}
.photoAttachment{
	max-height: 550px;
	max-width: 300px
}
.photo{
	width: 50px;
    float: left;
}
/*end page content*/
/*top menu*/
.navbar-brand{
	
	font-size: 32px;
	font-family: fantasy;
	margin-right: 15px;
}
.text-top{
	font-size: 15px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color: #ccc;
}
.navbar-default .navbar-nav>li>a.active{
	color: #ffffff;
}
.navbar-default .navbar-nav>li>a.active:hover{
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a>i{
	font-weight: 600;
	font-size: 18px;
}

.navbar-right{
    float: right;
}
.badge{
	position: absolute;
	top: 5px;
	right: 3px;
	padding: 4px 7px;
}
@media (max-width: 768px){
.navbar-right{
    float: left;
}
.navbar-right>li{
	float: left;
}
.navbar-form{
	border-top: none;
	border-bottom: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    overflow: initial;
}
}
@media (min-width: 769px) and (max-width: 991px) {
.nav>li>a {
    padding: 10px 20px;
}


}
@media (min-width: 992px) and (max-width: 1199px){
.nav>li>a {
    padding: 10px 20px;
}

}
@media (min-width: 1200px){
.nav>li>a {
    padding: 10px 20px;
}
}
.nav>li>a {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav>li>button {
    position: relative;
    display: block;
    margin-top: 7px;
}
.avatar{
	border-radius: 50%;
}
#profile{
	position: absolute;
    height: auto;
    border: 1px solid #DDDDDD;
    width: 230px;
    /*top: 70px;*/
    right: 0px;
}
.profileDiv{
	list-style: none;
	padding: 0;
}
.profileItem{
	border-top: 1px solid #DDDDDD;
	padding: 10px 10px 10px 15px;
}
.profileItem:hover{
	background-color: #DFEFFA;
}

.userSetting{
	width: 200px;
}
.userSetting > ul{
	list-style: none;
	padding: 0;
}
.userSetting > ul>li{
	border-bottom: 1px solid #ccc;
	padding: 5px;
    padding-left: 10px;
    cursor: pointer;
	height: 35px;
}
.userSetting > ul>li:hover{
	background-color: #ccc;
}
.userSetting > ul>li>a{
	text-decoration: none;
	color: #777;
}
.userSetting > ul>li>a:hover{
	text-decoration: none;
	
}
.action-item{
	position: relative;
    top: -145px;
    left: 300px;
}
.popover-content{
	padding: 0;
}
.ask-question{
	margin-left:-10px;
	padding-right: 0;
}
.ask-question-control{
    padding: 5px;
    font-family: Tahoma, sans-serif;
    resize: none;
    /*background-image: url(bg.gif);
    background-position: bottom right;
    background-repeat: no-repeat;*/
}
.btn-ask{
	width: 100%;
}
@media (max-width: 768px){
.btn-ask{
	width: auto;
}
}

.center-content-answer{
	padding-bottom: 20px;
	border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.ask-hover{
    background: rgba(0,0,0,0.65);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hidden-div{
	z-index: -1;
}
.show-div{
	z-index: 1;
}
.inforBar .dropup .dropdown-menu{
	position: absolute;
    top: -80px;
    bottom: auto;
    left: auto;
    right: 0px;
    padding: 0;
	border-radius: 6px;
}
.inforBar .dropup .dropdown-menu >li{
	border-bottom: 1px solid #ccc;
}
.inforBar .dropup .dropdown-menu >li>a{
	    padding: 8px 15px 8px;
}
.padding-0{
	padding: 0;
}
.edit-icon{
	cursor: pointer;
	color: #ccc;
}
.edit-icon:hover{
	cursor: pointer;
	color: #777;
}
.left-content-header .dropdown .dropdown-menu{
	top: 27px;
    bottom: auto;
    margin-bottom: 2px;
    left: 40px;
    width: 350px;
    padding: 0;
}
.left-content-header .dropdown .dropdown-menu >li{
	border-bottom: 1px solid #ccc;
}
.left-content-header .dropdown .dropdown-menu .search-topic{
	background-color: #F5F5F5;
	padding-top: 10px;
	padding-bottom: 10px;
}
.left-content-header .dropdown .dropdown-menu .topic-item > a{
	padding: 8px 15px 8px;
}
.left-content-header .dropdown .dropdown-menu .topic-item > a >.avatar{
	float: right;
}
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px; /* Example: right:10px; */
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px; /* Example: right:10px; */
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.keep-open{
	display: block;
}
.remove{
	float: right;
	cursor: pointer;
	color: #ccc;
}
@media (max-width: 768px){
.left-content-header .dropdown .dropdown-menu{
	top: 27px;
    bottom: auto;
    margin-bottom: 2px;
    left: auto;
    right: -10px;
    width: 350px;
    padding: 0;
}
.dropdown-menu:before {
    left: auto;
    right: 10px;
}
.dropdown-menu:after {
    left: auto;
    right: 11px;
}
}
    
/*end top menu*/
/*Answer page*/

/*End Answer Page*/

