.step-circle{
	-webkit-background-color: #337AB7;
	-moz-background-color: #337AB7;
	-ms-background-color: #337AB7;
	-o-background-color: #337AB7;
	background-color: #337AB7;
	width:60px;
	height:60px;
	border-radius: 50%;
	margin-right: -10px;
	border: 2px solid #fff;
	z-index:1000;
}
	.step-circle > h5{
		color: white;
		font-size: 35px;
	}
.step-content{
	-webkit-background-color: #337AB7;
	-moz-background-color: #337AB7;
	-ms-background-color: #337AB7;
	-o-background-color: #337AB7;
	background-color: #337AB7;
	height:40px;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
}
	.step-content > h5{
		color: white;
		font-size: 12px;
	}
.step-arrow{
	width: 0; 
	height: 0; 
	border-bottom: 30px solid transparent;
	border-top: 30px solid transparent;	
	border-left: 30px solid #337AB7;
	margin:0 auto;
}
.active > .step-circle{
	background-color: #D9534F;
}
.active > .step-content{
	background-color: #D9534F;
}
.active > .step-arrow{
	border-left: 30px solid #D9534F;
}