html, body {height: 100%;}
#Term-of-Page{
	background-color: #fff;
	min-height: 100%;
    height: 100%;
}
	#Term-of-Page .row{
		height: 100%;
	}
.panel-heading{
background-color:rgb(0, 153, 153) !important;
}
.panel-terms-heading{
background-color:#EEEEEE !important;
}
.panel-title-terms-1{
color:white;
font-weight:bold;
}
.panel-title-terms-2{
font-weight:bold;
}
.leftPage{
	-webkit-background-color: #009999;
	-moz-background-color: #009999;
	-ms-background-color: #009999;
	-o-background-color: #009999;
	background-color: #009999;
	height: inherit;
}
	.leftPage > .leftPageContent{
		width: 85%;
		margin: 0 auto;
	}
	.leftPage > .leftPageContent > #epac-logo{
		margin-top: 30%;
	}
	.leftPage > .leftPageContent > h1{
		color: #fff;
	}

#LoginForm{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
}