.left-col .topic-header{
	height: 140px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;


}
.photo_info{
	margin-top: 0;
	height: 100%;
	margin-bottom: 10px;
}
.left-content-profile{
	margin-bottom: 10px;
}
.left-col .user_info_big{
	margin-left: 20px;
    margin-top: 10px;
    float: left;
}
.topic-header p.topicTitle{
	font-size: 28px;
}
.topic-header p.other-name{
	font-size: 25px;
}