/*Answer page*/

.question-topic{
	margin-bottom: 10px;
}
.question-answer{
	border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.eventHeader{
	font-size: 22px;
	color: inherit;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.number-view{
	margin-bottom: 10px;
}
.user-name{
	font-size: 13px;
	font-weight: 600;
}
.answer-bar{
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 6px;
	background-color: #F6F6F6;
	padding-top: 15px;
}
.text-area{
	margin-top: 15px;
	margin-bottom: 10px;
}
.photo{
	margin-left: 10px;

}
.photo-in-answer{
	margin-top: -3px;
	margin-left: 0;
	width: auto;
}
.comment{
	margin-top: -10px;
	margin-right: 10px;
	width: 90%;
    float: left;
}
.edit-block{
	float: right;
	margin-top: -10px;
}
.topic-tag{
	margin-top: 5px;
	float: left;
    margin-right: 10px;
    background-color: #E9EBEE;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;

}
.topic-tag:hover{
	background-color: #ccc;
}
.topic-tag>a:hover{
	color: inherit;
}
.show-more{
	padding: 10px;
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px;
    margin-top: 0px;
}
.answer-bar-top{
	overflow: hidden;
    height: 155px;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.modal-follow {
    height: 300px;
    overflow-x: auto;
    
}
.modal-follow::-webkit-scrollbar {
    width: 0.5em;
}
 
.modal-follow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.modal-follow::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius:4px; 
}
.top-story-title{
	margin-bottom: 5px;
    font-size: 16px;
}
.related-content{
	list-style: none;
    padding-left: 0px;
}
.related-content>li{
	height: 30px;
	display: inline-block;
}
.question-div{
	border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
        display: inline-block;
    width: 100%;
}

/*End Answer Page*/
