.background-image{
	background-image: url(../img/background.jpg);
	width: 1368px;
	height: 866px;
	background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
	/*background-size: 1368px 768px;*/
}
@media (max-width: 600px){
    .modal-login{
        color: #fff;
        height: 408px;
        background-color: #fff;
        width: 290px;
        left: 10%;

    }
}
@media (min-width: 601px){
    .modal-login{
        color: #fff;
        height: 408px;
        background-color: #fff;
        width: 490px;
        left: 8%;

    }

}

.sign-up-login{
    background-color: #2989bc;
    box-shadow: 0px 1px 3px #333;
}
.text-center>img{
    width: 140px;
    height: 70px;
}
.login-content{
    background-color: #fff;
    color: #2c3e50;
}
button.close-login {
    -webkit-appearance: none;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
    background: 0 0;
    border: 0;
    color: #fff;
}
#in-page-content{
	min-height: 520px;
}
.login-form{
	position: absolute;
	margin: auto;
	width: 600px;
	background-color: #fff;
	left: 0;
	right: 0;
	top: 50%;
	background-color:rgba(255,255,255,.8);
}
.bottom{
    background-color:#E9EBEE;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
	color: #2c3e50;
}
.bottom a{
	color: #2c3e50;
    text-decoration: none;
}
.social-buttons{
    margin:12px 0    
}
	/*.social-buttons a{
	    width: 49%;
	}*/
.form-group {
    margin-bottom: 10px;
}
@media (max-width: 768px){
.btn-fb{
    margin-bottom: 10px;
}
.login-form{
	width: 400px;
}
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
    width: 100%;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-gg{
    color: #fff;
    background-color:#DF4A32;;
    width: 100%;
}
.btn-gg:hover{
    color: #fff;
    background-color:#DF4A32;
}
.logo-text{
	font-size:60px; 
}
.modal-topic{
    color: #2c3e50;
    min-height: 200px;
    background-color: #fff;
    width: 535px;
    left: 7%;
}
