/*Profile page */
.ProfileBanner{
	background: #f6f6f6;
	border: 1px dashed #ccc;
	border-radius: 3px;
	margin-bottom: 50px;
}
.ProfileBanner p.title{
	margin: 8px 16px;
    font-size: 19px;
    font-weight: 600;
    
}
.kb_editor{
	margin: 8px 16px;
}
.topicTitle{
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 -2px;
}
.knowAboutGrid{
	margin: 0 8px 16px 16px;
	width: 470px;
}
.knowAbout{
	background: #fff;
    padding: 0px;
    border-radius: 3px;
    border: 1px solid #eee;
}
.knowAbout p.title{
	font-size: 11px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 8px;
}
.addTopic{
	margin-top: 10px;
}
.left-col .profile-header{
	height: 300px;
	border-bottom: 1px solid #ccc;
	background-color: #1d2129;
	border-radius: 5px;
	padding: 10px;
	text-shadow: 0px 0px 4px #333;
	border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
	background-size: 100% 100%;
}
.left-content-profile{
	margin-bottom: 10px;
}
.left-col .user_info_big{
	margin-left: 175px;
}
.user_info{
	margin-left: 50px;
}
.user_info .userName{
	color: #333; 
	font-size: 17px;
}
.timeWritten{
	font-size: 13px; 
	color:#aaa;
}

.editName{
	font-size: 16px;
	color: #fff;
}
.editName:hover{
	color: #999999;
}
.number{
	color: #aaa;
    margin-left: 4px;
    white-space: pre-wrap;
}
.left-content-profile{
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.left-content-header{
	padding-left: 10px;
}
/*end left content*/
.right-col{
	border-radius: 5px;
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.right-col{
	margin-bottom: 10px;
}
.right-col-header{
	border-bottom: 1px solid #ccc;
}
.right-col-body{
	padding-top:5px;
}
.right-col-body .listTopic{
	padding-top:10px;

}
.right-col-body .listTopic .topic-row{
	padding-bottom: 10px;
	display: inline-block;
	width: 100%;
}
.right-col-body .listTopic .topicIcon{
	float: left;
	width: 25px;
	text-align: center;
	color: #AAAAAA;
}
.profile-header>.photo_info{
	margin-top: 210px;
}
.profile-header>.photo_info>.photo>a>.bigavatar{
	border: 3px solid #FFF;
    box-shadow: 0px 0px 4px #333;
}
.profile-header>.photo_info>.photo{
	position: absolute;
    top: 188px;
}
@media (min-width: 769px) and (max-width: 900px){
.profile-header a.topicTitle{
	font-size: 18px;
    color: #fff;
    margin-bottom: 3px;
}
.profile-header a.user-des{
	font-size: 18px;
    color: #fff;
}
.cover-upload>label{
	border:1px solid #fff;
	box-shadow: 0px 0px 4px #333;
	color: #fff;
	cursor: pointer;
	padding: 5px;
	border-radius: 2px;
}
.tab-bar{
	margin-bottom: 10px; 
	padding-left: 200px;
	padding-right: 50px;
	padding-top: 0;
	height: 40px;
}
.tab-element>li>a{
	text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    line-height: 2.5;
}
.photo-upload>label{
	position: absolute;
    top: 188px;
    left: 25px;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.65);
    display: none;
    cursor: pointer;
}
.photo-upload>label>img{
	cursor: pointer;
	margin-top: 55px;
	margin-left: 55px;
}
.info{
	margin-top: 27px;
}
}
@media (max-width: 768px){
.profile-header a.topicTitle{
	font-size: 16px;
    color: #fff;
    margin-bottom: 3px;
}
.editName{
	font-size: 13px;
}
.profile-header a.user-des{
	font-size: 12px;
  	color: #fff;
}
.left-col .user_info_big{
	margin-left: 110px;
}
.info{
	margin-top: 27px;
}
.profile-header>.photo_info>.photo>a>.bigavatar{
	height: 100px;
	width: 100px;
}
.profile-header>.photo_info>.photo{
	position: absolute;
    top: 230px;
}
.cover-upload>label{
	margin-top: 20px;
	border:1px solid #fff;
	box-shadow: 0px 0px 4px #333;
	color: #fff;
	cursor: pointer;
	padding: 2px;
	height: 20px;
	border-radius: 2px;
}
.cover-upload>label>img{
	height: 15px;
	width: 15px;
	margin-bottom: 10px;
}
.tab-element>li>a{
    font-size: 12px;
}
.tab-element>li{
	padding-top: 6px;

}
.tab-bar{
	padding-left: 100px;
	padding-right: 20px;
	margin-bottom: 10px; 
	padding-top: 0;
	height: 40px;
}
.photo-upload>label{
	position: absolute;
    top: 230px;
    left: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.65);
    display: none;
    cursor: pointer;
}
.photo-upload>label>img{
	cursor: pointer;
    height: 30px;
    width: 30px;
    margin-top: 35px;
    margin-left: 35px;
}
}
.primary-item{
	float: right;
	margin-top: 35px;
    margin-right: -15px;
}

.tab-element{
	white-space: nowrap;
	height: inherit;
}
.tab-element>li{
	width: 33.33%;
	display: inline-block;
	float: left;
	height: inherit;
	text-align: center;
	border-left: 1px solid #ccc;
	cursor: pointer;
}
.tab-element>li:hover{
	background-color: #F6F7F9;
}
.tab-element>.end-li{
	border-right: 1px solid #ccc;
}

.active-tab{
	border-bottom: 3px solid #ccc;
	background-color: #F6F7F9;
}

.photo-upload > input,.cover-upload > input
{
    display: none;
}
@media (min-width: 901px){
.profile-header a.topicTitle{
	font-size: 30px;
    color: #fff;
    margin-bottom: 3px;
}
.profile-header a.user-des{
	font-size: 18px;
    color: #fff;
}
.cover-upload>label{
	border:1px solid #fff;
	box-shadow: 0px 0px 4px #333;
	color: #fff;
	cursor: pointer;
	padding: 5px;
	border-radius: 2px;
}
.tab-bar{
	margin-bottom: 10px; 
	padding-left: 200px;
	padding-right: 50px;
	padding-top: 0;
	height: 40px;
}
.tab-element>li>a{
	text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    line-height: 2.5;
}
.photo-upload>label{
	position: absolute;
    top: 188px;
    left: 25px;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.65);
    display: none;
    cursor: pointer;
}
.photo-upload>label>img{
	cursor: pointer;
	margin-top: 55px;
	margin-left: 55px;
}
}

.bigavatar{
	border-radius: 50%;
}
.edit-about{
	height: 22px;
}
.status{
	/*width: 100%;*/
	border: none;
    border-color: transparent;
    background-color: transparent;
    color: #fff;
    text-shadow: 0px 0px 0px #333;
}
.status:focus{
    outline: none;
}
/*End Profile Page*/