﻿@charset "UTF-8";
/* CSS Document */
body::-webkit-scrollbar {
    width: 0.7em;
}
#editor{
	width: 95%;
	margin: auto;
} 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 4px;
}
@font-face {
   font-family: RegularBold;
   src: url(../fonts/NotoSans-Bold.ttf);
}
@font-face {
   font-family: Regular;
   src: url(../fonts/NotoSans-Regular.ttf);
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #2c3e50;
    text-shadow: 0px 0px 0px #333;
}
a:hover{
	text-decoration: none;
	color:#2989bc;
}
p {
	margin: 0 0 10px;
}
footer{
	position: relative;
	bottom: 0;
}
.navbar-brand-footer{
	padding: 0; 
	width: 100%;
}
/*@media (max-height:800px){
	footer { position: static; }
}*/
/*login form*/

/*end login form*/
/*page content*/
body{
	background-color: #E9EBEE;
	font-family: Regular;
	color: #2c3e50;
}
.btn-info{
	background-color: #2989bc;
	border-color: #257aa7;
}
.btn-info:hover{
	background-color: #206a92;
	border-color: #257aa7;
}
.navbar-default{
	height: 55px;
	background-color: #2989bc;
    /*border: 1px solid #DDDDDD;*/
    box-shadow: 0 -2px 0px #ffffff;
    margin-top: 2px;
}
@media (max-width: 768px){
#in-page-content{
	width: 95%;
    margin: 0 auto;

}
}
@media (min-width: 769px) and (max-width: 900px){
#in-page-content{
	width: 768px;
    margin: 0 auto;

}
}
@media (min-width: 901px) and (max-width: 1000px){
#in-page-content{
	width: 900px;
    margin: 0 auto;

}
}
@media (min-width: 1001px){
#in-page-content{
	width: 1000px;
    margin: 0 auto;

}
}

.panel{
	/*width: 90%;
    position: absolute;
    top: 50px;*/
    margin-top: 50px;
   	background-color: inherit;
}

.logo{
	height: 52px;
	margin-top: -14px;
}

}

/*Top Menu*/
.search-form{
	display: table;
}
.site-header .search-form > .form-group{
	
	    width: 113%;
}
.site-header .search-form > button{
	display: table-cell;
	width: 50px;
	background-color: #F0F0F0;
}
.site-header .search-form > button:hover{
	width: 50px;
	background-color: #cccccc;
}
.navbar-form .input-group .input-group-btn {

}
.navbar-nav>li {
    height: 53px;
	background-color: inherit;
}
.navbar-nav>li:hover {
    height: 53px;
	background-color: #257aa7;
}
.navbar-nav>.loginButton:hover {
    height: 53px;
	background-color: inherit;
}
.navbar-nav>li>a {
    height: 53px;
    color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: inherit;
}
.search-result{
	position: absolute;
    list-style: none;
    top: 35px;
    width: 437px;
    background-color: #fff;
    padding-left: 0;
    box-shadow: 0px 0px 2px #ccc;
    z-index: 1;
}
.search-result li{
	border-bottom: 1px solid #ccc;
    padding: 15px;
    cursor: pointer;
}
.search-result li:hover{
	background-color: #FAFAFA;
}
.search-result li a{
	font-size: 15px;
	color: inherit;
}
.search-result li a{
	font-size: 15px;
	color: inherit;
}
@media (max-width: 768px){
.search-form{
	width: 100%
}
.navbar-right{
    float: right;
}
}
@media (min-width: 769px) and (max-width: 799px) {
.search-form{
	width: 220px;
}	
}
@media (min-width: 800px) and (max-width: 857px) {
.search-form{
	width: 250px;
}	
}
@media (min-width: 858px) and (max-width: 890px) {
.search-form{
	width: 300px;
}	
}
@media (min-width: 890px) and (max-width: 959px) {
.search-form{
	width: 340px;
}	
}
@media (min-width: 960px) and (max-width: 991px) {
.search-form{
	width: 400px;
}	
}
@media (min-width: 992px) and (max-width: 1060px){
.search-form{
	width: 340px;
}	
}
@media (min-width: 1061px) and (max-width: 1199px){
.search-form{
	width: 390px;
}	
}
@media (min-width: 1200px) and (max-width: 1280px){
.search-form{
	width: 500px;
}
}
@media (min-width: 1281px){
.search-form{
	width: 600px;
}		
}

/*End Top Menu*/
/*left content*/
.padding-div {
	padding-left: 5px;
	padding-right: 5px;
}
@media (min-width: 991px){
.left-content{
	position: relative;
	width: 166px;
	padding:10px;
	border-radius: 5px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	z-index: 3;
}
}
@media (min-width: 900px) and (max-width: 990px){
.left-content{
	position: relative;
	width: 220px;
	padding:10px;
	border-radius: 5px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	z-index: 3
}
}
@media (min-width: 769px) and (max-width: 899px){
.left-content{
	position: relative;
	width: 185px;
	padding:10px;
	border-radius: 5px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	z-index: 3
}
}
@media (max-width: 768px){
.left-content{
	padding:10px;
	border-radius: 5px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	z-index: 3
}
}
.left-content-header{
	
}
.listTopic{
	margin-top: -3px;
}
.left-content-body::-webkit-scrollbar {
    width: 0.3em;
}
 
.left-content-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.left-content-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius:4px; 
}
.left-content-body{
	overflow-y: auto;
    max-height: 250px;
}
.left-content-body .listTopic>ul{
	list-style: none;
	padding: 0;
	margin-top: 10px;
}
.left-content-body .listTopic>ul>li{
	padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    border-radius: 4px;
	display: inline-block;
    width: 100%;
}
.left-content-body .primary-left .listTopic>ul>li.active{
	background-color: #ECECEC;
}
.left-content-body .primary-left .listTopic>ul>li>a{
	text-decoration: none;
	color: inherit;
	float: left;
    width: 90%;
    font-size: 12.5px;
}
.left-content-body .primary-left .listTopic>ul>li>a:hover{
	text-decoration: none;
	color: #598DBF;
}
.left-content-body .secondary-left .listTopic>ul>li>a{
	text-decoration: none;
	color: #aaa;
}
.left-content-body .secondary-left .listTopic>ul>li>a:hover{
	text-decoration: none;
	color: #aaa;
}
.secondary-left{
	margin-top: 20px;
}
.panel{
	border:0;
}
/*end left content*/
.center-content{
	/*background-color: #fff;*/
	/*padding:10px;*/
	border-radius: 5px;
	border-radius: 5px;
}
.center-content-feed{
	background-color: #fff;
	padding:10px;
	border-radius: 5px;
}
@media (max-width: 768px){
.center-content{
	padding-right: 0;
}

}

@media (min-width: 769px) and (max-width: 991px) {
.center-content{
	padding-right: 0;
}

}
.center-content-header{
	border-radius: 5px;
	background-color: #fff;
	padding: 10px;
	/*border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;*/
}
.center-content-body{
	padding-bottom: 20px;
	border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.eventHeader{
	font-size: 13px;
	color: #999999;
}
.eventHeader>span>a{
	color: #999999;
}
.topicItem {
	cursor: pointer;
	font-size: 12px;
	color: #999999;
}
.topicDes {
	font-size: 14px;
	color: #333;;
}
.right-content{
	border-radius: 5px;
	background-color: #fff;
}
.right-content-body{
	padding: 8px;
}
.step-containter{
	padding-left: 8px; 
	padding-right: 8px;
	font-size: 14px; 
}
.right-title{
	margin-top: 0px;
	font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
    padding: 0px 0px 10px 20px;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fafafa;
}
.step-row{
	padding-bottom: 16px;
}
.checked{
	color: #ADCC74;
	opacity: 1;
}
.not-checked{
	color: #ADCC74;
	opacity: 0;
}

.underline{

	margin: 7px 0px 0px 0px;
}
.newTopic{
	margin-left: -10px;
}
.topicStatus{
	font-size: 7px;
	color: #2B6DAD;
}
.questionTitle{
	margin-top: 5px;
}
.title{
	font-size:22px;
	font-family: RegularBold;
	font-weight:700;
	color: inherit;
	cursor: pointer;
}
.title:hover{
	text-decoration: none;
}

.actionBar{
	float: left;
	margin-right: 12px;
}
.followLink{
	padding: 7px 0 7px 0;
}
.count{
	background-color: #eee;
    padding: 2px 5px 2px 4px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    color: #999;
}
.subButton{
	cursor:pointer;
	float: right;
	color: #999999;
	padding: 0px 5px 6px 5px;
}
.subButton:hover{
	background-color: #eee;
    border-radius: 4px;
}
.inforBar{
	height: 30px;
	margin-top: 5px;
}
.networkShare{
	font-size:20px;
}
.photo_info{
	margin-top: 10px;
}
.photoDiv{
	margin-bottom: 20px;
}
.photoAttachment{
	max-height: 550px;
	max-width: 300px
}
.photo{
	width: 50px;
    float: left;
    cursor: pointer;
}
/*end page content*/
/*top menu*/
.navbar-brand{
	
	font-size: 32px;
	font-family: inherit;
	margin-right: 15px;
}
.text-top{
	font-size: 17px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 14px;
}
.navbar-default .navbar-nav>li>a.active{
	color: #ffffff;
	text-shadow: 0px 0px 2px #333;
	background-color: inherit;
}
.navbar-default .navbar-nav>li>a.active:hover{
	color: #ffffff;
	background-color: #2989bc;
}

.navbar-default .navbar-nav>li>a>i{
	font-weight: 600;
	font-size: 18px;
}

.navbar-right{
    float: right;
}
.badge{
	position: absolute;
	top: 5px;
	right: 3px;
	padding: 4px 7px;
}
@media (max-width: 768px){
.navbar-right{
    float: right;
}
.navbar-right>li{
	float: right;
}
.navbar-form{
	border-top: none;
	border-bottom: none;
}
.navbar-collapse {
    overflow: initial;
    margin-top: 4px;
    background: #2989bc;
}
}
@media (min-width: 769px) and (max-width: 991px) {
.nav>li>a {
    padding: 10px 20px;
}


}
@media (min-width: 992px) and (max-width: 1199px){
.nav>li>a {
    padding: 10px 20px;
}

}
@media (min-width: 1200px){
.nav>li>a {
    padding: 10px 20px;
}
}
.nav>li>a {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav>li>button {
    position: relative;
    display: block;
    margin-top: 7px;
}
.avatar{
	border-radius: 50%;
}
#profile{
	position: absolute;
    height: auto;
    border: 1px solid #DDDDDD;
    width: 230px;
    /*top: 70px;*/
    right: 0px;
}
.profileDiv{
	list-style: none;
	padding: 0;
}
.profileItem{
	border-top: 1px solid #DDDDDD;
	padding: 10px 10px 10px 15px;
}
.profileItem:hover{
	background-color: #DFEFFA;
}

.userSetting{
	width: 200px;
}
.userSetting > ul{
	list-style: none;
	padding: 0;
}

.popover-content{
	padding: 0;
}
@media (max-width: 768px){
.ask-question{
	margin-left:-10px;
	padding-right: 0;
}
}
@media (min-width: 769px) and (max-width: 991px) {
.ask-question{
	margin-left:10px;
	margin-right:-10px;
	padding-right: 0;
}

}
@media (min-width: 992px) and (max-width: 1199px){
.ask-question{
	margin-left:10px;
	margin-right:-10px;
	padding-right: 0;
}
}
@media (min-width: 1200px){
.ask-question{
	margin-left:0px;
	padding-right: 0;
}
}

.ask-question-control{
    padding: 5px;
    font-family: Tahoma, sans-serif;
    resize: none;
    /*background-image: url(bg.gif);
    background-position: bottom right;
    background-repeat: no-repeat;*/
}
.btn-ask{
	width: 100%;
}
@media (max-width: 768px){
.btn-ask{
	width: auto;
}
.navbar-nav .open .dropdown-menu {
    position: absolute;
    top: 60px;
    left: auto;
    right: 15px;
    box-shadow: 0px 0px 4px #ccc;
    background-color: #fff;
}
.navbar-nav .open .dropdown-user {
    width: 220px
}
}

.center-content-answer{
	padding-bottom: 20px;
	border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.ask-hover{
    background: rgba(0,0,0,0.65);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hidden-div{
	z-index: -1;
}
.show-div{
	z-index: 1;
}
.inforBar .dropup .dropdown-menu{
	position: absolute;
    top: -80px;
    bottom: auto;
    left: auto;
    right: 0px;
    padding: 0;
	border-radius: 6px;
}
.inforBar .dropup .dropdown-menu >li{
	border-bottom: 1px solid #ccc;
}
.inforBar .dropup .dropdown-menu >li>a{
	    padding: 8px 15px 8px;
}
.padding-0{
	padding: 0;
	padding-right: 10px;
}
.edit-icon{
	cursor: pointer;
	color: #ccc;
}
.edit-icon:hover{
	cursor: pointer;
	color: #777;
}
.left-content-header .dropdown .dropdown-menu{
	top: 27px;
    bottom: auto;
    margin-bottom: 2px;
    left: 40px;
    width: 350px;
    padding: 0;
}
.left-content-header .dropdown .dropdown-menu >li{
	border-bottom: 1px solid #ccc;
}
.left-content-header .dropdown .dropdown-menu .search-topic{
	background-color: #F5F5F5;
	padding-top: 10px;
	padding-bottom: 10px;
}
.left-content-header .dropdown .dropdown-menu .topic-item > a{
	padding: 8px 15px 8px;
	color: inherit;
}
.left-content-header .dropdown .dropdown-menu .topic-item > a >.avatar{
	float: right;
}
.topicform ul{
	list-style: none;
	padding-left: 0;
}
.topicform ul>li{
	padding: 8px 10px 12px;
    border: 1px solid #ccc;
    border-top: 0px;
    height: 55px;
    cursor: pointer;
}
.topicform ul .topic-item > a{
	color: inherit;
}
.topicform ul .topic-item > a >.avatar{
	float: right;
}
.dropdown-search{
	border-radius: 5px;
}
.dropdown-search:before {
  position: absolute;
  top: -7px;
  left: 7px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-search:after {
  position: absolute;
  top: -6px;
  left: 8px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.drop-edit:before {
  position: absolute;
  top: auto;
  left: auto;
  right: 9px;
  bottom: -7px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-top: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.drop-edit:after {
  position: absolute;
  top: auto;
  left: auto;
  right: 10px;
  bottom: -5px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-top: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.keep-open{
	display: block;
}
.remove{
	float: right;
	cursor: pointer;
	color: #ccc;
}
@media (max-width: 768px){
.left-content-header .dropdown .dropdown-menu{
	top: 27px;
    bottom: auto;
    margin-bottom: 2px;
    left: auto;
    right: -10px;
    width: 350px;
    padding: 0;
}
.dropdown-search:before {
    left: auto;
    right: 10px;
}
.dropdown-search:after {
    left: auto;
    right: 11px;
}


}
.no-radius{
	border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.spinner-div{
	background: rgba(0,0,0,0.65);
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 4;
}
.spinner-icon{
	font-size: 50px;
	color: #fff;
    position: fixed;
    top: 50%;
    left: 45%;
}
.dropdown-user{
	top: 60px;
	background-color: #f0f0f0;
}
.dropdown-user:before {
  position: absolute;
  top: -7px;
  left: auto;
  right: 7px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-user:after {
  position: absolute;
  top: -6px;
  left: auto;
  right: 8px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.dropdown-user{
	width: 220px;
	font-size: 15px;
	list-style: none;
	padding: 0;
	border-radius: 5px;
}
.dropdown-user>li{
	border-bottom: 1px solid #ccc;
	padding: 5px;
    padding-left: 10px;
    cursor: pointer;
	height: 35px;
}
.dropdown-user>li:hover{
	background-color: #ccc;
}
.dropdown-user>li>a{
	text-decoration: none;
	color: #777;
	padding: 3px 10px;
}
.dropdown-user>li>a:hover{
	text-decoration: none;
	background-color: #ccc;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*.dropdown-noti>li{
	border-bottom: 1px solid #ccc;
	padding: 5px;
    padding-left: 10px;
    cursor: pointer;
	height: 35px;
}*/
.dropdown-noti>div{
	width: 500px;
	max-height: 300px;
	
	overflow: auto;
}
.dropdown-noti>div>li:hover{
	background-color: #F1F1F1;
	cursor: pointer;
}
.dropdown-noti>div>li>.photo_info>.noti-mess{
	height: inherit;
}
.dropdown-noti>div>li>.photo_info>.noti-mess>a{
	text-decoration: none;
	color: #333;
	/*padding: 0px 10px;*/
}
.dropdown-noti>div>li>.photo_info{
	margin-top: 5px;
	margin-bottom: 5px;
}

.dropdown-noti>div>li{
	height: 75px;
	word-wrap: break-word;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	cursor: pointer;
}
.dropdown-noti>div>li>.photo_info>.noti-mess>a:hover{
	text-decoration: none;
	background-color: #F1F1F1;
}
.dropdown-noti{
	padding: 0;
	top:60px;
	background-color: #f0f0f0;
}
@media (min-width: 768px){
.navbar-right .dropdown-menu {
    right: 20px;
    left: auto;
}
}
.dropdown-noti>div::-webkit-scrollbar {
    width: 0.5em;
}
 
.dropdown-noti>div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.dropdown-noti>div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius:4px; 
}
.dropdown-noti:before {
  position: absolute;
  top: -7px;
  left: auto;
  right: 7px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-noti:after {
  position: absolute;
  top: -6px;
  left: auto;
  right: 8px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.top-noti{
	border-bottom: 1px solid #ccc;
	height: 40px;
	padding: 8px;
}
.bottom-noti{
	height: 40px;
    border-top: 1px solid #ccc;
    box-shadow: 0px 1px 0px 0px #888888;
	border-bottom: 0px solid #ccc
}
/*.dropdown-noti::-webkit-scrollbar-track-piece{
    border-radius:4px;
}*/
    
.top-question a{
	font-size: 15px;
}
.top-question a:hover{
	color: #2989bc;
}
.answer-div{
	font-size: 14px;
}
.user-info p{
	font-size: 15px;
}
.trending-item>div.index, .trending-item>div.trendingTitle{
	float: left;
}
.trending-item>div.chart, .trending-item>div.topicImage{
	float: right;
}
.trending-item .index{
	height: 100%;
}
.trending-item .index>label{
	margin-top: 17px;
}
.trending-item .trendingTitle>p{
	margin-top: 17px;
}
.trending-item .chart{
	height: 100%;
}
.trending-item .topicImage{
	height: 100%;
}
.tab-show ul>li{
	width: 150px;
}
.tab-show ul>li>a{
	    font-size: 22px;
    text-align: center;
}
.tab-show1 ul>li{
	width: 190px;
}
.tab-show1 ul>li>a{
	    font-size: 22px;
    text-align: center;
}
.card-block{
	padding: 10px;
}
.question-tab ul{
	padding: 0;
}
.question-tab ul>li{
	width: 150px;
}
.question-tab ul>li>a{
    font-size: 16px;
    text-align: center;
    padding: 5px;
}
@media (min-width: 769px){
.trending-item .trendingTitle{
	height: 100%;
	margin-left: 70px;
	margin-right: 10px;
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    padding-top: 17px;
    font-weight: 700;
}
.trending-item{
	height: 80px;
    border-bottom: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    color: inherit;
	font-size: 20px;
	cursor: pointer;
}
.trending-item .topicImage>img{
	height: 100%;
	width: 70px;
}
.trending-item .chart>img{
	height: 100%;
	width: 70px;
}
}

.embed-footer {
    display:none;
}
@media (min-width: 580px) and (max-width: 768px){
.trending-item .trendingTitle{
	height: 100%;
	margin-left: 30px;
	margin-right: 10px;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    padding-top: 17px;
    font-weight: 700;
}
.trending-item{
	height: 80px;
    border-bottom: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    color: inherit;
	font-size: 15px;
	cursor: pointer;
}
.trending-item .topicImage>img{
	height: 80%;
    margin-top: 3px;
    width: 55px;
}
.trending-item .chart>img{
	height: 80%;
    margin-top: 3px;
    width: 55px;
}
}
@media (min-width: 461px) and (max-width: 579px){
.trending-item .trendingTitle{
	height: 100%;
	margin-left: 20px;
	margin-right: 10px;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    padding-top: 17px;
    font-weight: 700;


}
.trending-item{
	height: 80px;
    border-bottom: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    color: inherit;
	font-size: 15px;
	cursor: pointer;
}
.trending-item .topicImage>img{
	height: 80%;
    margin-top: 3px;
    width: 55px;
}
.trending-item .chart>img{
	height: 80%;
    margin-top: 3px;
    width: 55px;
}
}
@media (max-width: 460px){
.trending-item .trendingTitle{
	height: 100%;
	margin-left: 20px;
	margin-right: 10px;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    padding-top: 17px;
    font-weight: 700;

}
.trending-item{
	height: 80px;
    border-bottom: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    color: inherit;
	font-size: 15px;
	cursor: pointer;
}
.trending-item .topicImage>img{
	height: 80%;
    margin-top: 3px;
    width: 55px;
}
.trending-item .chart>img{
	height: 80%;
    margin-top: 3px;
    width: 55px;
}
}

.topic-choose{
	padding-left: 0;
	padding-right: 0;
	height: 120px;
	width: 120px;
	background-size: 120px 121.5px;
	margin-bottom: 5px;
	margin-right: 5px;
    cursor: pointer;
}
.topic-choose>.listTopic>a{
	color: #fff;
    font-weight: 700;
    font-size: 12px;
    text-shadow: 0px 0px 2px #333;
    vertical-align: bottom;
}
.topic-choose>.ok-icon{
	position: absolute;
    top: 3px;
    left: auto;
    right: 3px;
    z-index: 1;
}
.topic-choose>.listTopic{
	margin: 0; 
	text-align: left;
	position: absolute;
    top: 0;
    width: 120px;
	padding-left: 5px;
	height: 40px;
	margin-top: 80px;
	background-color: #2989bc;
}
.focus-topic{
	position: absolute;
	top: 0;
	height: inherit;
	width: inherit;
	background-color: rgba(0,0,0,0.25);
	z-index: 0;
}
.helpful{
	float: right;
    margin-bottom: 0;
    margin-top: -60px;
    font-size: 20px;
}
.helpful:hover{
	color: #FFD473;
}
.bold{
	font-weight: 700;
}
.arrow{
	font-size: 35px;
}
.listQuestion{
	 padding: 10px;
	 padding-left: 15px;
	 padding-bottom: 5px;
	 padding-top: 0px;j
	 
}
.dateChart{
    margin-top: 20px;
    font-size: 20px;
}
.animated{
	animation-duration: 0.7s;
}
.fr-popup.fr-desktop.gray-theme.fr-active{
	display: none;
}
.wrap-description{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}
.shadow-text{
	text-shadow: 0px 0px 2px #333;
}
.pointer{
	cursor: pointer;
}   
.questionStatus{
	margin-left: 10px;
} 
/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}
.carousel-indicators .active {
    width: 8px;
    height: 8px;
}
.carousel-indicators>li{
    width: 7px;
    height: 7px;
}
.img-show{
	margin-bottom: 10px;
	padding: 10px;
}
.img-show>img{
    max-width: 100%;
	height: 300px;
}
.ama-info img{
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}
.ama-title{
	margin-bottom: 0px;
}
.modal-question{
	padding: 60px;
    padding-bottom: 0px;
    padding-top: 20px;
}
.carousel-control{
	width: 8%;
}
.carousel-caption{
	left: 20%;
    text-align: left;
    top: 16%;
}
.carousel-caption>h1{
	color: #2c3e50;
    text-shadow: 0px 0px 2px #fff;
}
.forgotPasword{
	padding:0; 
	margin-bottom: 10px;
	float: right;
}
.validate-text{
	padding: 3px 0 3px;
}
.required:after {
    content: "*";
    padding-left:3%;
    font-size: 10px;
    color:#a94442;
}
.search-user{
	list-style: none;
	padding-left: 0;
}
.search-user li{
	padding: 8px 10px 12px;
    border: 1px solid #ccc;
    border-top: 0px;
    height: 40px;
    cursor: pointer;
}
.search-user>li>a{
	color: inherit;
}
.carousel-control.left, .carousel-control.right{
	background-image: none;
}
.datepicker-dropdown {
    top: 318px;
    left: 198.5px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.photo-ama{
	height: 200px;
    width: 200px;
    margin: 15px;
    display: none;
    background-size: 200px 200px;

}
.show-ketqua{
	margin-left: 25px;
    margin-bottom: 10px;
}
#modalContainer {
	background-color:rgba(0, 0, 0, 0.3);
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000;
}

#alertBox {
	left: 40%;
    top: 35%;
	position:relative;
	border-radius: 5px;
	width:300px;
	min-height:100px;
	margin-top:50px;
	border:1px solid #666;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:20px 30px;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox div {
	padding: 5px;
    padding-left: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin:0;
	font-family: inherit;
    font-size: 19px;
	background-color:#2989bc;
	color:#FFF;
	border-bottom:1px solid #000;
	padding:2px 0 2px 5px;
}

#alertBox p {
    height: 50px;
    padding: 10px;
    text-align: center;

}

#alertBox #closeBtn {
	display:block;
	position:relative;
	margin:5px auto;
	padding:7px;
	border:0 none;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#357EBD;
	border-radius: 3px;
	text-decoration:none;
}
#alertBox #okBtn {
	float: left;
	margin-left: 25%;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	display:block;
	position:relative;
	padding:7px;
	border:0 none;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#357EBD;
	border-radius: 3px;
	text-decoration:none;
}
#alertBox #huyBtn {
	float: left;
	margin: 5px;
	display:block;
	position:relative;
	padding:7px;
	border:0 none;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#357EBD;
	border-radius: 3px;
	text-decoration:none;
}

/* unrelated styles */

#mContainer {
	position:relative;
	width:600px;
	margin:auto;
	padding:5px;
	border-top:2px solid #000;
	border-bottom:2px solid #000;
	font:0.7em verdana,arial;
}
code {
	font-size:1.2em;
	color:#069;
}

#credits {
	position:relative;
	margin:25px auto 0px auto;
	width:350px; 
	font:0.7em verdana;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	height:90px;
	padding-top:4px;
}

#credits img {
	float:left;
	margin:5px 10px 5px 0px;
	border:1px solid #000000;
	width:80px;
	height:79px;
}

.important {
	background-color:#F5FCC8;
	padding:2px;
}

code span {
	color:green;
}
@media (max-width: 768px){
	#tooltip-question{
		width: 100%;
		position: absolute;
	    top: 105px;
	    padding: 0;
	    padding-right: 10px;
	}
	#tooltip-topic{
		position: absolute;
	    top: 120px;
	    width: 55%;
	    left: 5%;
	    padding: 0;
	    padding-right: 15px;
	    z-index: 1;
	}
}
@media (min-width: 769px){
	#tooltip-question{
		position: absolute;
	    top: 75px;
	    padding: 0; 
		padding-right: 15px;
	}
	#tooltip-topic{
		position: absolute;
	    top: 120px;
	    width: 49%;
	    left: 18%;
	    padding: 0;
	    padding-right: 15px;
	    z-index: 1;
	}
}
#tooltip-question:before{
	position: absolute;
    top: -7px;
    left: 50%;
    right: auto;
    display: inline-block;
    border-right: 11px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 11px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
#tooltip-question:after{
	position: absolute;
    top: -10px;
    left: 50%;
    right: auto;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    content: '';
}
#tooltip-topic:before{
	position: absolute;
    top: -7px;
    left: 6px;
    right: auto;
    display: inline-block;
    border-right: 11px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 11px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
#tooltip-topic:after{
	position: absolute;
    top: -10px;
    left: 7px;
    right: auto;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    content: '';
}
.animated-tooltip{
	animation-duration: 1.0s;
}
#contentMore p>img {
    width:100%;
}
#questionContent p>img {
    width:100%;
}
.answer-div p>img{
	width: 100%;
}
.btnUpvote{
	background-color: #4CD964;
    border-color: #2dd248;
    color: #fff;
}
.btnUpvote:hover{
	background-color: #2dd248;
    border-color: #2dd248;
    color: #fff;
}
.btnUpvote:focus{
	background-color: #2dd248;
    border-color: #2dd248;
    color: #fff;
}
.btnDownvote{
	color: #FE4565;
}
.spinner{
	position: absolute;
    top: 50%;
    left: 50%;
}
.checked-noti {
  background-color: #fff;
}
.modal-footer{
	border-top:0;
}
.topic-tooltip{
	background: rgba(0,0,0,0.35);
	position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
/*end top menu*/
/*Answer page*/

/*End Answer Page*/


