.left-col .topic-header{
	height: 140px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;


}
.photo_info{
	margin-top: 10px;
	height: 100%;
	margin-bottom: 10px;
}
.left-content-profile{
	margin-bottom: 10px;
}
.left-col .user_info_big{
	margin-left: 20px;
    margin-top: 5px;
    float: left;
}
.topic-header p.topicTitle{
	font-size: 35px;
    font-weight: 700;
    color: inherit;
    margin: 0;
    margin-bottom: 5px;
}
.topic-header p.other-name{
	font-size: 25px;
	margin: 0;
}
.right-col {
    margin-bottom: 10px;
}
.right-col {
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.photo-upload>label{
	position: absolute;
    left: 25px;
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,0.65);
    display: none;
    cursor: pointer;
}
.photo-upload>label>img{
	cursor: pointer;
	margin-top: 40px;
    margin-left: 40px;
}
.photo-upload > input
{
    display: none;
}
.right-col-header{
	border-bottom: 1px solid #ccc;
}
.right-col-body{
	margin-top: 10px;
}