﻿<div class="boxed" ng-controller="amaController">
	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div>
		<!--Page content-->
		<!--===================================================-->
		<div id="in-page-content">
			<div class="panel">
				<!-- <div id="profile" class="collapse">
					<ul class="profileDiv">
					    <li class="profileItem">
					        <a href="">Profile</a>
					    </li>
					    <li class="profileItem">
					        <a href="">Logout</a>
					    </li>
					</ul>
				</div> -->
				<div class="panel-body animated fadeIn">
					<div class="row">
						<div class="hover"></div>  
						<div class="col-sm-9 padding-div hide-ask">
							<div class="left-col left-bar">
								<div class="center-content">
	                                <!--<div id="embed-api-auth-container"></div>
	                                <div id="chart-container"></div>
	                                <div id="view-selector-container"></div>-->
									<div class="center-content-answer" ng-show="!isOwn && isOpenDate">
	                                    
											<div class="row stt">
												<div class="col-xs-2 col-sm-1">
													<div class="photo">
														<a class="avatar">
															<img src="{{avatar}}" height="40" width="40" class="avatar">
														</a>
													</div>
												</div>
												<div class="col-xs-10 col-sm-9 ask-question">
													<input type="text" class="form-control"  placeholder="Hỏi gì đó..." ng-model="title" my-enter="askQuestion()"/>
													<!-- <textarea></textarea> -->
												</div>
												<div class="col-xs-12 col-sm-2 text-right">
													<button class="btn btn-info btn-ask" ng-click="askQuestion()">Hỏi</button>
												</div>
											</div>
									</div>

								</div>
								<div class="center-content-header no-radius">
									<div class="eventHeader" style="margin-bottom: 0px;">
										<p>{{data.amaquestions.length}} Câu hỏi</p>
									</div>
								</div>
                                <div class="center-content-body" ng-repeat="item in data.amaquestions">
									
									<!-- bat dau answer -->
									<div class="question-answer" style="border:0px;">
										<div class="questionTitle">
											<div class="photo_info">
												<div class="photo">
													<a  class="avatar">
														<img src="{{item.asker.avatar}}" height="40" width="40" class="avatar">
													</a>
												</div>
												<div class="user_info">
													<p style="cursor: pointer; margin-bottom: 5px;" ui-sref="profile({uid:item.asker.id})"><span class="user-name">{{item.asker.displayname}}</span><a  class="topicItem">&nbsp;{{item.questioncreationdate}}</a></p>

														
													
												</div>
											</div>
											<div class="answer-div">
                                                <p ng-show="!editMode[$index]">{{item.content}} <i ng-show="auth[$index] && isOpenDate" class="fa fa-pencil" aria-hidden="true" style="float:right; cursor:pointer;" ng-click="clickEdit($index)"></i></p>
                                                
                                                <input ng-show="editMode[$index]" type="text" class="form-control" ng-model="item.content" my-enter="editQ($index,item.id)"/>

											</div>	
                                            
										</div>
										<div class="answer-bar" ng-show="( item.answercontent !=undefined) || (isOpenDate && item.answercontent ==undefined && isOwn) ">
											<div class="row form-group stt" style="margin-bottom: 20px;" ng-show="isOwn && item.answercontent == undefined && isOpenDate">
												<div class="col-xs-2 col-sm-1">
													<div class="photo">
														<a class="avatar">
															<img src="{{data.owner.avatar}}" height="40" width="40" class="avatar">
														</a>
													</div>
												</div>
												<div class="col-xs-10 col-sm-9 ask-question" style="padding-right: 10px;">
													<input type="text" class="form-control"  placeholder="Trả lời..." ng-model="answer[$index]" my-enter="answerQuestion($index,item.id)"/>
													<!-- <textarea></textarea> -->
												</div>
												<div class="col-xs-12 col-sm-2 text-right" style="margin-left: -5px;">
													<button class="btn btn-info btn-sm btn-ask" ng-click="answerQuestion($index,item.id)">Trả lời</button>
												</div>
											</div>
											<div class="row form-group stt" ng-show="item.answercontent !=undefined">
												<div class="col-xs-2 col-sm-1">
													<div class="photo">
														<a class="avatar">
															<img src="{{data.owner.avatar}}" height="40" width="40" class="avatar">
														</a>
													</div>
												</div>
												<div class="col-xs-10 col-sm-11 ask-question">
													<div class="comment-block">
														<div class="user-name">
															<p>{{data.owner.displayname}} &nbsp;<a  class="topicItem">{{item.answercreationdate}}</a></p> 
														</div>
														<div class="col-sm-12 padding-0">
															<div class="comment" style="width: 98%">
																<p ng-show="!editA[$index]" >{{item.answercontent}} <i ng-show="isOwn && isOpenDate" class="fa fa-pencil" aria-hidden="true" style="float:right; cursor:pointer;" ng-click="clickEditA($index)"></i></p>
																<input type="text" class="form-control" ng-model="item.answercontent" ng-show="editA[$index]" my-enter="editAnswer($index,item.id)">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
									<!-- <hr>	 -->
                                </div>
									
							</div>
						</div>
						<div class="col-sm-3 padding-div hide-ask">
							<div class="left-col left-bar">
                                <div class="center-content-body">
                                	<div class="row ama-info">
                                		<div class="col-sm-12">
                                			<p><label style="font-size: 20px;">{{data.owner.displayname}}</label></p>
                                		</div>
                                		<div class="col-sm-12">
                                			<img src="{{data.amaimage}}">
                                		</div>
                                		<!-- <div class="col-sm-12">
                                			<p class="ama-title"><label>Tên</label></p>
                                			<p>Nguyễn Tùng Sơn</p>
                                			<p class="ama-title"><label>Ngày sinh</label></p>
                                			<p>12/12/2012</p>
                                			<p class="ama-title"><label>Nghề nghiệp</label></p>
                                			<p>Đạo nhạc</p>
                                		</div> -->
                                	</div>
                                </div>
									
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!--===================================================-->
		<!--End page content-->
	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->
	<div class="modal fade" id="listTopic" tabindex="-1" role="dialog" aria-labelledby="listTopic" >
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-topic">
				<div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <label class="modal-title" style="font-size: 20px">Edit Topics</label>
			      </div>
			      <div class="modal-body" style="min-height: 200px; padding-bottom: 0px;">
	                    <div class="col-sm-12">
	                        <div class="row">
	                        	<div class="topicform" style="margin-bottom: 15px;">
	                        		<input type="text" ng-model="txtSearchTopic"  class="form-control" placeholder="Search Topic">
		                        	<ul>
		                        		<li class="topic-item" ng-repeat="item in rs" ng-click="addQuestionTopic(item.topicid,item.name)">
											<a>
												<label >{{item.name}}</label>
												<img src="" height="25" width="25" class="avatar">
											</a>
										</li>
		                        	</ul>
	                        	</div>
	                            
	                            <div class="topic-tag" style="margin-bottom: 5px;" ng-repeat="item in listTopic track by $index">
									<div class="listTopic">
										<!-- <i class="fa fa-circle topicStatus" aria-hidden="true"></i> -->
										<a >{{item.topicname}}</a>
										<i class="fa fa-remove remove" style="margin-top: 4px;margin-left: 7px;" ng-click="questionUnfollowTopic(item.topicid,$index)"></i>
									</div>
								</div>
	                    	</div>
						</div>
						<div ng-show="isCreating" style="font-size: 15px;" ng-init="isCreating = false">
                            <p class="text-success" ng-show="success">Tạo chủ đề mới thành công.</p>
                            <p class="text-danger" ng-show="!success">Xảy ra lỗi khi tạo chủ đề mới do chủ đề đã tồn tại.</p>
                        </div>
			      </div>
			      <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="addTopic()">Create topic</button>
			        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Done</button>
			      </div>
			    </div><!-- /.modal-content -->
				
			</div>
		</div>
	</div>			
    
    <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="listTopic" >
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-topic">
				<div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <label class="modal-title" style="font-size: 20px">Báo cáo</label>
			      </div>
			      <div class="modal-body" style="min-height: 70px;">
	                    <div class="col-sm-12">
	                        <div class="row">
	                        	<div class="topicform" style="margin-bottom: 15px;">
	                        		<div class="col-sm-2"><label class="control-label">Lý do</label></div>
                                    <div class="col-sm-8"><input class="form-control" ng-model="reason"/></div>
	                        	</div>
	                            
	                            
	                    	</div>
						</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" ng-click="reportQ()">Done</button>
			      </div>
			    </div><!-- /.modal-content -->
				
			</div>
		</div>
	</div>	
    
    <!--list user follow	-->		
    <div class="modal fade" id="listFollow" tabindex="-1" role="dialog" aria-labelledby="listTopic" >
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-topic" style="width: 500px;">
				<div class="modal-content" style="width: 500px;">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <label class="modal-title" style="font-size: 20px">{{listUserFollow.length}} lượt theo dõi</label>
			      </div>
			      <div class="modal-body modal-follow" >
	                    <div class="col-sm-12">
	                        <div class="row" ng-repeat="item in listUserFollow">
                                <div class="photo_info">
								    <div class="photo">
									    <a  class="avatar">
										    <img src="{{item.avatar}}" height="40" width="40" class="avatar">
									    </a>
								    </div>
								    <div class="user_info">
									    <p style="cursor: pointer; margin:0;" data-dismiss="modal" ng-click="goProfile(item.id)"><span class="user-name">{{item.displayname}}</span></p>
                                        <p class="topicItem">{{item.employment}}</p>
								    </div>
							    </div>
	                    	</div>
						</div>
			      </div>
			    </div><!-- /.modal-content -->
				
			</div>
		</div>
	</div>	
	<!--MAIN NAVIGATION-->
	<!--===================================================-->
				
	</div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
	<script type="text/javascript" src="../js/control.js"></script>
			