﻿<div class="boxed" ng-controller="amaController">
	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div>
		<!--Page content-->
		<!--===================================================-->
		<div id="in-page-content">
			<div class="panel">
				<!-- <div id="profile" class="collapse">
					<ul class="profileDiv">
					    <li class="profileItem">
					        <a href="">Profile</a>
					    </li>
					    <li class="profileItem">
					        <a href="">Logout</a>
					    </li>
					</ul>
				</div> -->
				<div class="panel-body">
					<div class="row">
						<div class="hover"></div>  
						<div class="col-sm-12 padding-div hide-ask animated fadeIn">
							<div class="left-col left-bar">
                                <div class="center-content-body">
                                    <h3 style="margin-bottom: 15px;margin-bottom: 15px; margin-top: 5px; padding-bottom: 10px;">Các AMA đã tạo</h3>
                                    <p ng-show = "showAmaList">Chưa có AMA nào được tạo ra</p>
                                    <div ng-show = "!showAmaList" style="border-bottom: 1px solid #ccc;" ng-repeat = "item in amaList track by $index">
						      		    <div class="photo_info" style="height:50px;">
						                    <div class="photo">
							                    <a  class="avatar">
								                    <img src="{{item.owner.avatar}}" height="40" width="40" class="avatar">
							                    </a>
						                    </div>
						                    <div class="user_info">
							                    <p style="cursor: pointer; margin-bottom: 0;"><span class="user-name"  ui-sref="profile({uid:item.owner.id})">{{item.owner.displayname}}</span><span class="text-right" style="margin-left: 20px;"><i class="fa fa-external-link" aria-hidden="true" style="cursor:pointer; " ui-sref="ama({amaid:item.id})"></i></span></p>
                                                <p class="topicItem">{{item.opendate}}</p>
                                                
						                    </div>
					                    </div>
						      	    </div>
                                </div>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
		<!--===================================================-->
		<!--End page content-->
	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->
	<!--MAIN NAVIGATION-->
	<!--===================================================-->
				
	</div>
	<script type="text/javascript" src="../js/control.js"></script>
			