﻿<div class="boxed" ng-controller="analyticsController">
	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div>
		<!--Page content-->
		<!--===================================================-->
		<div id="in-page-content">
			<div class="panel">
				<div class="panel-body animated fadeIn">
					<!-- Left -->
					<div class="row">
						<div class="hover"></div>  
						<div class="col-sm-12 padding-div hide-ask">
							<div class="left-col">
								<div class="col-sm-12 padding-div">
									<!-- Center content -->
									<div class="center-content">
										<div class="center-content-body">
											<div class="eventHeader">
												<label>Quản lý</label>
											</div>
											<div class="tab-show">
												<ul class="nav nav-tabs">
												    <li ng-class="{active:isSet(1)}"><a ng-click="setTab(1)">Câu hỏi</a></li>
												    <li ng-class="{active:isSet(2)}"><a ng-click="setTab(2)">Chủ đề</a></li>
												    <li ng-class="{active:isSet(3)}"><a ng-click="setTab(3)">Báo cáo</a></li>
                                                    <li ng-class="{active:isSet(4)}"><a ng-click="setTab(4)">AMA</a></li>
												</ul>

												<div class="tab-content">
												    <div id="accordion" class="animated fadeIn" role="tablist" aria-multiselectable="true" ng-show="isSet(1)">
														
                                                        <div class="row form-group">
                                                            <div class="col-sm-1" style="margin-top: 200px;">
                                                            	<a class="arrow">
                                                            		<i class="glyphicon glyphicon-chevron-left" ng-click="drawChart(0)"></i>
                                                            	</a>
                                                            </div>
                                                            <div class="col-sm-10">
                                                                <!-- <div class="text-center dateChart"><label>{{date}}</label></div> -->
                                                                <div id="chart-container">FusionCharts will render here</div>
														    </div>  
                                                            <div class="col-sm-1" style="margin-top: 200px;">
                                                            	<a class="arrow" ng-click="drawChart(1)" ng-show="timeCount != 0">
                                                            		<i class="glyphicon glyphicon-chevron-right"></i>
                                                            	</a>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="row form-group" style="margin-top: 20px;">
                                                            <div class="col-sm-12">
                                                                <p style="border-bottom: 1px solid #ccc;padding-bottom: 5px;">Câu hỏi hay</p>
                                                            </div>
                                                            <div class="listQuestion" ng-repeat = "item in topQuestion track by $index">
													      		<div class="questionTitle" style="border-bottom: 1px solid #ccc;padding-bottom: 10px">
																	<a class="title" ng-attr-id="{{ 'qes' + $index }}" ui-sref="questionDetail({qid:item.question.id})">
																		{{item.question.title}}
																	</a>
	                                                                  <span class="topicItem">Được viết {{item.question.createtime}}</span>
                                                                      <span class="questionStatus" style="float:right;  ">
                                                                      	  <i class="fa fa-tag text-primary" aria-hidden="true" ng-show="item.textanalytic.sentiment=='P+'" bs-tooltip data-placement="top" title="Rất tích cực" style="font-size:25px;"></i>
	                                                                      <i class="fa fa-tag text-info" aria-hidden="true" ng-show="item.textanalytic.sentiment=='P'" bs-tooltip data-placement="top" title="Tích cực" style="font-size:25px;"></i>
	                                                                      <i class="fa fa-tag text-success" aria-hidden="true" ng-show="item.textanalytic.sentiment=='NEU'" bs-tooltip data-placement="top" title="Trung tính" style="font-size:25px;"></i>
	                                                                      <i class="fa fa-tag text-warning" aria-hidden="true" ng-show="item.textanalytic.sentiment=='N'" bs-tooltip data-placement="top" title="Tiêu cực" style="font-size:25px;"></i>
	                                                                      <i class="fa fa-tag text-danger" aria-hidden="true" ng-show="item.textanalytic.sentiment=='N+'" bs-tooltip data-placement="top" title="Rất tiêu cực" style="font-size:25px;"></i>
	                                                                      <i class="fa fa-tag " aria-hidden="true" style="color:yellow; font-size:25px;" ng-show="item.textanalytic.sentiment=='NONE'" bs-tooltip data-placement="top" title="không có"></i>

	                                                                      <i class="fa fa-handshake-o" aria-hidden="true" ng-show="item.textanalytic.agreement=='AGREEMENT'" bs-tooltip data-placement="top" title="Đồng thuận" style="font-size:25px;"></i>
	                                                                      <i class="fa fa-flash text-warning" aria-hidden="true" ng-show="item.textanalytic.agreement=='DISAGREEMENT'" bs-tooltip data-placement="top" title="Không đồng thuận" style="font-size:25px; padding-left:10px; padding-right:10px;"></i>

	                                                                      <i class="fa fa-users text-primary" aria-hidden="true" ng-show="item.textanalytic.subjectivity=='SUBJECTIVE'" bs-tooltip data-placement="top" title="Khách quan" style="font-size:25px;"></i>
	                                                                      <i class="fa fa-user-secret text-danger" aria-hidden="true" ng-show="item.textanalytic.subjectivity=='OBJECTIVE'" bs-tooltip data-placement="top" title="Chủ quan" style="font-size:25px;"></i>
                                                                      </span>
																	<div>
																		<!--<div class="photo_info">
																			<div>
																				<p style="margin-top:-5px;">
																					<span class="topicItem">Được viết {{item.createtime}}</span>
																				</p>
																			</div>
																		</div>	-->	
							                                            <!-- <div class="answer-div">
																			<div ng-attr-id="{{ 'content' + item.question.id }}"></div>
																				{{functiona(item.question.id)}}

																		</div>			-->
																		<div class="inforBar">
											                                <div class="actionBar followLink">
	                                                                            <a class="topicItem">Votes</a>
												                                <span class="count">{{item.question.votecountup - item.question.votecountdown}}</span>
												                                <a class="topicItem">Theo dõi</a>
												                                <span class="count">{{item.question.followcount}}</span>
	                                                                            <a class="topicItem">Views</a>
												                                <span class="count">{{item.question.viewcount}}</span>
											                                </div>
										                                </div>
																	</div>

																</div>
	                                                        </div>
															
	                                                        
														</div>
													</div>
												    <div class="animated fadeIn" ng-show="isSet(2)">
                                                        <div class="card" ng-repeat="item in topicArr track by $index">
															<div class="trending-item card-header" role="tab" ng-attr-id="{{ 'topic' + $index }}" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="{{ '#collapse' + $index }}" aria-expanded="true" aria-controls="{{ 'collapse' + $index }}">
																<div class="index">
																	<label>{{$index + 1}}</label>
																</div>
																<div class="trendingTitle">
																	{{item.topicname}}
																</div>
																<div class="topicImage">
																	<img ng-src="{{item.topicimage}}" height="80" width="80">
																</div>
															</div>
															<div ng-attr-id="{{ 'collapse' + $index }}" class="collapse" role="tabpanel" aria-labelledby="{{ 'topic' + $index }}">
														      <div class="card-block">
														        {{item.topicdescription}}
														        <div><iframe scrolling="no" style="border:none;" width="640" height="330" ng-src="{{apiQuerys[$index]}}"></iframe> </div>			
														      </div>
														    </div>
														</div>
												    </div>
												    <div class="animated fadeIn" ng-show="isSet(3)">
												      	<div style="border-bottom: 1px solid #ccc;" ng-repeat = "item in reportList track by $index">
												      		<div class="questionTitle" style="margin-top: 10px;">
																<a class="title" ng-attr-id="{{ 'qes' + $index }}" ui-sref="questionDetail({qid:item.id})">
																	{{item.title}}
																</a>
                                                                  <span class="topicItem">Được viết {{item.createtime}}</span>
																<div>
																	<!--<div class="photo_info">
																		<div>
																			<p style="margin-top:-5px;">
																				<span class="topicItem">Được viết {{item.createtime}}</span>
																			</p>
																		</div>
																	</div>	-->	
						                                            
																	<!--<p class="topicDes">{{item.content}}</p>-->
																	<img src=""  height="100%" width="100%" ng-show="item.img!=null ">
																	<p style="margin-top:5px;"><a class="topicItem">{{item.votecountup - item.votecountdown}} votes</a><i class="fa fa-eye" aria-hidden="true" style="padding-left:10px; cursor:pointer;" data-toggle="modal" data-target="#listReport" ng-click="getListReport(item.id)"></i></p>
                                                                    
																</div>

															</div>
												      	</div>
												      	
												    </div>
                                                    <div class="animated fadeIn row" ng-show="isSet(4)">
                                                        <div class="col-sm-6">
                                                            <h3>Tạo AMA mới

												      	    </h3>
                                                            <div class="row form-group">
                                                                <div class="col-sm-6">
                                                                    <p>Ngày bắt đầu</p>
                                                                
                                                                     <input type="date" class="form-control" ng-model="startDate" /> 
                                                                    <!--<div class="input-group date" data-provide="datepicker" id="datepicker1" >
																	    <input type="text" class="form-control" ng-model="startDate">
																	    <div class="input-group-addon">
																	        <span class="glyphicon glyphicon-calendar"></span>
																	    </div>
																	</div>-->
                                                                </div>
                                                                <div class="col-sm-6">

                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col-sm-6">
                                                                    <p ng-show="choosed">Ama owner : <img ng-src="{{amaOwner.ava}}" height="25" width="25" class="avatar">
									    				                    <label >{{amaOwner.name}}</label></p>
                                                                
                                                                    <input type="text" ng-model="txtSearchUser"  class="form-control" placeholder="Search User">
									    		                    <ul class="search-user">
									    		                    	<li class="topic-item" style="width: auto;" ng-repeat="item in rs" ng-click="chooseOwner(item.id,item.avatar,item.displayname)" >
										    			                    <a style="font-size: 14px;">
	                                                                            <img ng-src="{{item.avatar}}" height="25" width="25" class="avatar">
										    				                    <label >{{item.displayname}}</label>
										    				                
										    			                    </a>
										    		                    </li>
									    		                    </ul>
                                                                </div>
                                                                <div class="col-sm-6">

                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                            	<div clas="col-sm-6"><div class="col-sm-12 photo-ama"></div></div>
                                                                <div class="col-sm-6">
                                                                    <label class="btn btn-default btn-file" style="margin-top: 13px;">
																	    Chọn Ảnh <input id="photo-upload-ama" type="file" ng-model="imageAma" valid-file style="display: none;" onchange="angular.element(this).scope().loadImageFileAsURL()">
																	</label>
                                                                </div>
                                                            </div>
                                                            <button type="button" ng-click="createAma()" class="btn btn-primary">Tạo</button>
                                                            <hr />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h3 style="margin-bottom: 15px;">Các AMA đã tạo</h3>
                                                            <p ng-show = "showAmaList">Chưa có AMA nào được tạo ra</p>
                                                            <div ng-show = "!showAmaList" style="border-bottom: 1px solid #ccc;" ng-repeat = "item in amaList track by $index">
												      		    <div class="photo_info" style="height:50px;">
												                    <div class="photo">
													                    <a  class="avatar">
														                    <img ng-src="{{item.owner.avatar}}" height="40" width="40" class="avatar">
													                    </a>
												                    </div>
												                    <div class="user_info">
													                    <p style="cursor: pointer; margin-bottom: 0;"><span class="user-name"  ui-sref="profile({uid:item.owner.id})">{{item.owner.displayname}}</span><span class="text-right" style="margin-left: 20px;"><i class="fa fa-external-link" aria-hidden="true" style="cursor:pointer; " ui-sref="ama({amaid:item.id})"></i></span></p>
                                                                        <p class="topicItem">{{item.opendate}}</p>
                                                                        
												                    </div>
											                    </div>
												      	    </div>
                                                        </div>
                                                       

												    </div>
												</div>
												
											</div>
										</div>	
									</div>


									<!-- End Center Content -->
								</div>
							</div>
						</div>
					</div>
					
					
					
				</div>
			</div>
		</div>
		<!--===================================================-->
		<!--End page content-->
	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->
	 <!--list user report	-->		
    <div class="modal fade" id="listReport" tabindex="-1" role="dialog" aria-labelledby="listReport" >
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-topic" style="width: 500px;">
				<div class="modal-content" style="width: 500px;">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <label class="modal-title" style="font-size: 20px">{{reportDetail.length}} lượt báo cáo</label>
			      </div>
			      <div class="modal-body modal-follow" >
	                    <div class="col-sm-12">
	                        <div class="row" ng-repeat="item in reportDetail">
                                <div class="photo_info">
								    <div class="photo">
									    <a  class="avatar">
										    <img ng-src="{{item.user.avatar}}" height="40" width="40" class="avatar">
									    </a>
								    </div>
								    <div class="user_info">
									    <p style="cursor: pointer; margin:0;" data-dismiss="modal" ng-click="goProfile(item.user.id)"><span class="user-name">{{item.user.displayname}}</span></p>
                                        <p >{{item.reportcontent}}</p>
								    </div>
							    </div>
	                    	</div>
						</div>
			      </div>
			    </div><!-- /.modal-content -->
				
			</div>
		</div>
	</div>	
	<!--MAIN NAVIGATION-->
	<!--===================================================-->
	
</div>
<script type="text/javascript" src="../js/chart/js/fusioncharts.js"></script>
<script type="text/javascript" src="../js/chart/js/themes/fusioncharts.theme.carbon.js"></script>
<script type="text/javascript" src="../js/chart/js/themes/fusioncharts.theme.fint.js"></script>
<script type="text/javascript" src="../js/angular-fusioncharts.min.js"></script>
<script type="text/javascript" src="../js/control.js"></script>