﻿<link href="../css/profile.css" rel="stylesheet" type="text/css">
<div class="boxed" ng-controller="changePassController">
	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div>
		<!--Page content-->
		<!--===================================================-->
		<div id="in-page-content" style="min-height: 380px;">
			<div class="panel">
				<div class="panel-body animated fadeIn">
					<div class="hover"></div>  
					<div class="col-sm-12 hide-ask">
						<div class="center-content" >
							<div class="center-content-body">
								<div class="row form-group">
									<div class="col-sm-6 col-sm-offset-2">
										<label style="font-size: 30px; cursor: pointer;"><i class="fa fa-lock" style="font-size: 50px;">&nbsp;</i><span>Đổi mật khẩu</span></label>
									</div>
								</div>
								<form id="changePass" name="changePass">
									<div class="row form-group">
										<div class="col-sm-3 col-sm-offset-2">
											<label class="required">Mật khẩu hiện tại</label>
										</div>
										<div class="col-sm-4">
											<input type="password" name="oldpass" ng-model="oldPass" class="form-control" required ng-change = "rightPassword = false"/>
										</div>
										<div class="col-sm-3 validate-text" ng-messages="changePass.oldpass.$error" ng-if="changePass.oldpass.$dirty" ng-cloak>
	                                         <span class="text-danger" ng-message="required">Nhập mật khẩu hiện tại</span>
	                                         <span class="text-danger" ng-show="rightPassword">Mật khẩu hiện tại không đúng</span>
	                                    </div>
									</div>
									<div class="row form-group">
										<div class="col-sm-3 col-sm-offset-2">
											<label class="required">Mật khẩu mới</label>
										</div>
										<div class="col-sm-4">
											<input type="password" name="newpass" ng-model="newPass" class="form-control" ng-minlength="8" ng-maxlength="16" ng-pattern = "/^(?=.*[a-z])(?=.*\d).{8,16}$/" required />
										</div>
										<div class="col-sm-3 validate-text" ng-messages="changePass.newpass.$error" ng-if="changePass.newpass.$dirty" ng-cloak>
	                                         <span class="text-danger" ng-message="required">Nhập mật khẩu mới</span>
	                                         <span class="text-danger" ng-message="minlength">Mật khẩu phải có ít nhất 8 kí tự</span>
	                                         <span class="text-danger" ng-message="maxlength">Mật khẩu không quá 16 kí tự</span>
	                                         <span class="text-danger" ng-message="pattern">Mật khẩu phải chứa chữ thường và ít nhất 1 số</span>
	                                         <span class="text-danger" ng-show="oldPass == newPass && newPass!=undefined">Mật khẩu mới không được trùng mật khẩu cũ</span>
	                                    </div>
									</div>
									<div class="row form-group">
										<div class="col-sm-3 col-sm-offset-2">
											<label class="required">Nhập lại mật khẩu</label>
										</div>
										<div class="col-sm-4">
											<input type="password" name="confirmpass" ng-model="confirmPass" class="form-control" ng-minlength="8" ng-maxlength="16" ng-pattern = "/^(?=.*[a-z])(?=.*\d).{8,16}$/" required ng-change = "rightPassword = false"/>
										</div>
										<div class="col-sm-3 validate-text" ng-messages="changePass.confirmpass.$error" ng-if="changePass.confirmpass.$dirty" ng-cloak>
	                                         <span class="text-danger" ng-message="required">Nhập lại mật khẩu mới</span>
	                                         <span class="text-danger" ng-message="minlength">Mật khẩu phải có ít nhất 8 kí tự</span>
	                                         <span class="text-danger" ng-message="maxlength">Mật khẩu không quá 16 kí tự</span>
	                                         <span class="text-danger" ng-message="pattern">Mật khẩu phải chứa chữ thường và ít nhất 1 số</span>
	                                         <span class="text-danger" ng-show="confirmPass != newPass && confirmPass!=undefined ">Nhập lại mật khẩu mới phải trùng nhau</span>
	                                    </div>
									</div>
									<div class="row form-group">
										<div class="col-sm-6 col-sm-offset-2">
											<button class="btn btn-info" name="name" value="Change" ng-click="changePassword()" ng-disabled="changePass.$invalid || formInvalid">Đổi</button>
											&nbsp;&nbsp;
											<button class="btn btn-default" class="form-control" ng-click = "check()">Thoát</button>
										</div>
									</div>
								</form>
							</div>
															
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--===================================================-->
		<!--End page content-->
	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->
	
	<!--MAIN NAVIGATION-->
	<!--===================================================-->
</div>
<script type="text/javascript" src="../js/control.js"></script>