﻿<div class="boxed" ng-controller="homepageController">
<!--CONTENT CONTAINER-->
<!--===================================================-->
<!--Page content-->
<!--===================================================-->
<div id="in-page-content">
<div class="panel">
<div class="panel-body">
<!-- Left Content -->
<div class="row">
<div class="hover"></div>
<div clas="col-sm-12 padding-div">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" ng-src="{{slide[0].sliderimage}}" alt="First slide" ng-click="openLink(0)" style="cursor: pointer">
            <!--<div class="container">
                <div class="carousel-caption">
                    <h1>{{slide[0].slidertext}}</h1>
                    <p>Cùng trò chuyện với sếp nhé.</p>
                    <p><a class="btn btn-primary" href="{{slide[0].sliderlink}}" role="button">Tham gia ngay</a></p>
                </div>
            </div>-->
        </div>
        <div class="item">
            <img class="first-slide" ng-src="{{slide[1].sliderimage}}" alt="First slide" ng-click="openLink(1)" style="cursor: pointer">
        </div>
        <div class="item">
            <img class="first-slide" ng-src="{{slide[2].sliderimage}}" alt="First slide" ng-click="openLink(2)" style="cursor: pointer">
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->
</div>
<div class="col-sm-3 col-md-2 padding-div hide-ask" style="padding-left: 0px;">
    <div class="left-content left0 animated fadeIn">
        <div class="left-content-header">
            <div class="row">
                <div class="col-xs-6" style="font-size: 14px;">Chủ Đề</div>
                <div class="col-xs-6">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="editTopic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float: right; text-decoration: none;" ng-show="logged && !isEditing" ng-click="isEditing = true">Sửa</a>
                        <a id="doneEditTopic" style="float: right; text-decoration: none;" ng-show="isEditing" ng-click="isEditing = false">Xong</a>
                        <div class="dropdown-menu dropdown-search" aria-labelledby="editTopic">
                            <!-- Dropdown menu links -->
                            <li class="search-topic col-sm-12"><input type="text" ng-model="txtSearchTopic" class="form-control" placeholder="Chọn các chủ đề bạn quan tâm"></li>
                            <li class="topic-item" ng-repeat="item in rs">
                                <a ng-click="followTopic(item.topicid,item.name,item.followcount)">
                                    <label >{{item.name}}</label>
                                    <img ng-src="{{item.image}}" height="25" width="25" class="avatar">
                                    <p class="topicItem">{{item.followcount}} lượt theo dõi</p>
                                </a>
                                
                            </li>

                        </div>
                    </div>
                    <!-- <div class="dropup">
                        <div class="subButton dropdown-toggle" id="editQuestion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <a ></a>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="editQuestion">
                            <li class="dropdown-submenu pull-left"><a href="editQuestion.html">Edit Question & Details</a></li>
                            <li><a>Delete</a></li>
                        </ul>
                    </div> -->
                </div>

            </div>
            <hr class="underline">
        </div>
        <div class="left-content-body">
            <div class="primary-left" ng-repeat="item in listFollowTopic track by $index" ng-show="logged">
                <div class="listTopic">
                    <ul>
                        <li >
                            <!-- <i class="fa fa-circle topicStatus" aria-hidden="true"></i> -->
                            <a ng-click="linkTopicDetail(item.topicid)">{{item.topicname}} <span class="count" data-toggle="tooltip" title="Hooray!">{{item.followcount}}</span></a>
                            <label style="padding-top: 3px;" ng-show="isEditing"><i class="fa fa-remove remove" ng-click="unfollowTopic(item.topicid,$index)"></i></label>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="primary-left" ng-repeat="item in randomTopicGuest track by $index" ng-show="!logged">
                <div class="listTopic">
                    <ul>
                        <li >
                            <!-- <i class="fa fa-circle topicStatus" aria-hidden="true"></i> -->
                            <a ng-click="linkTopicDetail(item.topicid)">{{item.topicname}}</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="left-content left1 hidden-md hidden-lg">
        <div class="left-content-header">
            <div class="row">
                <div class="col-xs-12" style="font-size: 15px;"><i class="fa fa-line-chart" style="color: #ccc;" aria-hidden="true"></i>&nbsp;&nbsp;Xu hướng
                </div>
            </div>
            <hr class="underline">
        </div>
        <div class="left-content-body">
            <div class="primary-left" ng-repeat="item in hottopic track by $index">
                <div class="listTopic">
                    <ul>
                        <li >
                            <!-- <i class="fa fa-circle topicStatus" aria-hidden="true"></i> -->
                            <a ui-sref="topicDetail({tid:item.topicid})">{{item.topicname}}</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="left-content left2 hidden-sm hidden-md hidden-lg">
        <div class="left-content-header">
            <div class="row">
                <div class="col-xs-12" style="font-size: 15px;"><i class="fa fa-users" style="color: #ccc;" aria-hidden="true"></i>&nbsp;&nbsp;Top người dùng
                </div>
            </div>
            <hr class="underline">
        </div>
        <div class="left-content-body">
            <div class="primary-left" ng-repeat="item in topUser track by $index">
                <div class="listTopic">
                    <ul>
                        <li >
                            <a ui-sref="profile({uid:item.id})">{{item.displayname}}</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- End Left Content -->

<!-- Center content -->
<div class="col-sm-9 col-md-8 padding-div content-body" style="padding-left: 10px;">
    <div class="col-sm-12 show-div" style="padding: 0" ng-show="logged">
        <div class="center-content">
            <!--<div id="embed-api-auth-container"></div>
            <div id="chart-container"></div>
            <div id="view-selector-container"></div>-->
            <div class="center-content-answer">

                <div class="row stt">
                    <div class="col-xs-2 col-sm-1">
                        <div class="photo">
                            <a class="avatar">
                                <img ng-src="{{avatar}}" height="40" width="40" class="avatar">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-10 col-sm-9 ask-question">
                        <input type="text" id="txtAskQuestion" class="form-control ask-field" placeholder="Hỏi gì đó..." ng-model="title" my-enter="askQuestion()"/>
                        <!-- <textarea></textarea> -->
                    </div>
                    <div class="col-xs-12 col-sm-2 text-right">
                        <button class="btn btn-info btn-ask" ng-click="askQuestion()">Hỏi</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="tooltip-question" class="col-sm-12 show-div animated-tooltip fadeIn" style="display: none;">
        <div class="center-content">
            <!--<div id="embed-api-auth-container"></div>
            <div id="chart-container"></div>
            <div id="view-selector-container"></div>-->
            <div class="center-content-answer" style="background-color: #F6F6F6">

                <div class="row">
                    <div class="col-sm-12">
                        <h1 style="margin-bottom: 20px; font-size: 30px;">Để đặt một câu hỏi thông minh</h1>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <p><i class="fa fa-thumbs-o-up text-success" aria-hidden="true"></i>&nbsp;<span>Hãy dùng các từ để hỏi.</span></p>
                        </div>
                        <div class="col-sm-12">
                            <p><i class="fa fa-thumbs-o-up text-success" aria-hidden="true"></i>&nbsp;<span>Nên dùng những từ ngữ lịch sự, phù hợp.</span></p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <p><i class="fa fa-thumbs-o-down text-danger" aria-hidden="true"></i>&nbsp;<span>Tránh các từ ngữ tiêu cực.</span></p>
                        </div>
                        <div class="col-sm-12">
                            <p><i class="fa fa-thumbs-o-down text-danger" aria-hidden="true"></i>&nbsp;<span>Nên đặt câu hỏi ngắn gọn, dễ hiểu.</span></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-12 hide-ask" style="padding: 0">
        <div class="center-content">

            <div class="center-content-header top-question" style="margin-bottom: 10px;">
                <div class="row">
                    <div class="col-xs-2"><a ng-click="LoadTopQuestion()" id="icontop"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>&nbsp;&nbsp;Top</a>
                    </div>
                    <div class="col-xs-2"><a ng-click="LoadNewQuestion()" id="iconnew"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;&nbsp;Mới</a>
                    </div>
                    <div class="col-xs-4" ng-show="logged"><a ng-click="LoadFeed()" id="iconfeed"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Top dành cho bạn</a>
                    </div>
                    <div class="col-xs-4" ng-show="logged"><a ng-click="LoadnewFeed()" id="iconnewfeed"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Mới dành cho bạn</a>
                    </div>
                </div>
            </div>
            <div class="center-content-body animated fadeIn" ng-repeat="item in json track by $index">
                <div class="eventHeader" ng-show="item.topics.length !=0">
                    <span ng-repeat ="i in item.topics track by $index">
											<a ui-sref="topicDetail({tid:i.topicid})" class="topicItem">{{i.topicname}}</a>
                                            <span class="bullet" style="font-size: 13px;" ng-show="$index < item.topics.length -1"> · </span>
										</span>
										
																	
                </div>
                <div class="questionTitle">
                    <a class="title" ng-attr-id="{{ 'qes' + $index }}" ui-sref="questionDetail({qid:item.id})">
                        {{item.title}}
                    </a>
                    <div> <!--ng-show="show[$index]"-->
                        <div class="photo_info">
                            <div class="user_info">
                                <p style="font-size: 13px; margin-bottom: 5px;" ui-sref="profile({uid:item.user.id})"><span>Đăng bởi </span><a>{{item.user.displayname}}</a>
                                </p>
                                <p style="margin-top: -5px;">
                                    <span class="topicItem">Được viết {{item.createtime}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="img-show" ng-show="imgArr[$index] !=0">
                            <img ng-src="{{imgArr[$index]}}">
                        </div>
                        <div class="answer-div">
                            <!-- <p class="answer-text">{{item.commentcontent}}</p> -->
                            <div ng-attr-id="{{ 'content' + item.id }}"></div>
                            {{functionc(item.id)}}
                            <a ng-attr-id="{{'showmore' + item.id}}" data-toggle="modal" data-target="#showQuestion" ng-click="getQuestionMore($index)" style="margin-top: -10px;">... (xem thêm)</a>

                        </div>
                        <!--<p class="topicDes">{{item.content}}</p>-->
                        <!-- <img ng-src="" height="100%" width="100%" ng-show="item.img!=null "> -->
                    </div>

                </div>
                <div ng-show="item.bestanswer !=null">
                    <div ng-attr-id="{{ 'top-answer' + item.id }}" class="answer-bar animated fadeIn">
                        <div class="row form-group">

                            <div class="col-sm-12">
                                <div class="questionTitle">
                                    <div class="photo_info">
                                        <div class="photo">
                                            <a href="#" class="avatar">
                                                <img ng-src="{{item.bestanswer.avatar}}" height="40" width="40" class="avatar">
                                            </a>
                                        </div>
                                        <div class="user_info">
                                            <p style="cursor: pointer; margin-bottom: 5px;"><span class="user-name" ui-sref="profile({uid:item.bestanswer.userid})">{{item.bestanswer.displayname}}</span></p>

                                            <p style="margin-top: -5px;">
                                                <a href="#" class="topicItem">{{item.bestanswer.createtime}}</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="img-show" ng-show="imgAns[$index] !=0">
                                        <img ng-src="{{imgAns[$index]}}">
                                    </div>
                                    <div class="answer-div col-sm-12" style="font-size: 14px;">
                                        <!--<div ng-attr-id="{{ 'answer' + item.id }}"></div>
                                        {{functionb(item.id,$index)}}
                                        <a ng-attr-id="{{ 'show-more-link' + item.id }}">Show more...</a>-->
                                        <div ng-attr-id="{{ 'answer' + item.id }}"></div>
                                        {{functiond(item.id)}}
                                        <a ng-attr-id="{{'showmore-answer' + item.id}}" ui-sref="questionDetail({qid:item.id})">... (xem thêm)</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--<div ng-attr-id="{{ 'top-answer-more' + item.id }}" class="answer-bar" style="display: none;">

                    </div>-->
                </div>

                <div class="inforBar">
                    <div class="actionBar followLink">
                        <button class="btn btn-sm btnUpvote" ui-sref="questionDetail({qid:item.id})">Trả lời</button>
                        <span class="topicItem">Votes</span>
                        <span class="count">{{item.votecountup - item.votecountdown}}</span>
                        <span class="topicItem">Theo dõi</span>
                        <span class="count">{{item.followcount}}</span>
                        <span class="topicItem">Lượt xem</span>
                        <span class="count">{{item.viewcount}}</span>
                    </div>

                    <div class="subButton networkShare" data-href="http://hozy.info/#/questionDetail/1" data-layout="button" data-size="small" data-mobile-iframe="false">
                        <span><a class="fb-xfbml-parse-ignore" target="_blank" href="{{'https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhozy.info%2F%23%2FquestionDetail%2F'+item.id+'&amp;src=sdkpreparse'}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- End Center Content -->

<!-- RIght Content -->
<div class="col-md-2 padding-div hidden-xs hidden-sm hide-ask">
    <div class="left-content right1 animated fadeIn">
        <div class="left-content-header">
            <div class="row">
                <div class="col-xs-12" style="font-size: 15px;"><i class="fa fa-line-chart" style="color: #ccc;" aria-hidden="true"></i>&nbsp;&nbsp;Xu hướng
                </div>
            </div>
            <hr class="underline">
        </div>
        <div class="left-content-body">
            <div class="primary-left" ng-repeat="item in hottopic track by $index">
                <div class="listTopic">
                    <ul>
                        <li >
                            <!-- <i class="fa fa-circle topicStatus" aria-hidden="true"></i> -->
                            <a ui-sref="topicDetail({tid:item.topicid})">{{item.topicname}}</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="left-content right2 animated fadeIn">
        <div class="left-content-header">
            <div class="row">
                <div class="col-xs-12" style="font-size: 15px;"><i class="fa fa-users" style="color: #ccc;" aria-hidden="true"></i>&nbsp;&nbsp;Top người dùng
                </div>
            </div>
            <hr class="underline">
        </div>
        <div class="left-content-body">
            <div class="primary-left" ng-repeat="item in topUser track by $index">
                <div class="listTopic">
                    <ul>
                        <li >
                            <a ui-sref="profile({uid:item.id})">{{item.displayname}}</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- End right content -->
</div>
<!-- End Left Content -->


<div class="modal fade" id="followTopic" tabindex="-1" role="dialog" aria-labelledby="followTopic">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-topic">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title" style="font-size: 20px">Bạn có hứng thú với chủ đề nào?</label>
                    <p class="topicItem" style="margin-bottom: 0px;">Bạn có thắc mắc hay muốn tìm kiếm thông tin về một chủ đề nào đó?</p>
                    <p class="topicItem" style="margin-bottom: 0px;">Hãy chọn một vài chủ đề để chúng tôi xây dựng trang cá nhân cho bạn. Đừng lo, bạn có thể tùy chỉnh nó bất cứ lúc nào</p>
                </div>
                <div class="modal-body" style="min-height: 450px;">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="topic-choose col-sm-3" ng-repeat="item in randomTopoic track by $index" ng-click="followTopicGuest(item.topicid,item.topicname,$index,item.followcount)">
                                <img ng-src="{{item.topicimage}}" height="120" width="120">
                                <img src="../img/ok-icon.png" class="ok-icon" height="30" width="30" ng-show="chooseTopic[$index]">
                                <div class="focus-topic" ng-show="chooseTopic[$index]"></div>
                                <div></div>
                                <div class="listTopic">
                                    <!-- <i class="fa fa-circle topicStatus" aria-hidden="true"></i> -->
                                    <a>{{item.topicname}}</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="followAllTopic()">Hoàn tất</button>
                </div>
            </div><!-- /.modal-content -->

        </div>
    </div>
</div>
<!-- modal question -->
<div class="modal fade" id="showQuestion" tabindex="-1" role="dialog" aria-labelledby="showQuestion">
    <div class="modal-dialog" role="document" style="width: 800px;">
        <div class="modal-content modal-question">
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="topic-tag" ng-repeat="item in questionMore.topics">
                            <a ng-click="linkTopicDetail(item.topicid)">{{item.topicname}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="questionTitle">
                            <a class="title" style="font-size: 25px">
                                {{questionMore.title}}
                            </a>
                            <div> <!--ng-show="show[$index]"-->
                                <div class="photo_info">
                                    <div class="photo">
                                        <a href="#" class="avatar">
                                            <img ng-src="{{questionMore.user.avatar}}" height="40" width="40" class="avatar">
                                        </a>
                                    </div>
                                    <div class="user_info">
                                        <p style="font-size: 13px; margin-bottom: 5px;" ui-sref="profile({uid:questionMore.user.id})"><span>Đăng bởi </span><a>{{questionMore.user.displayname}}</a>
                                        </p>
                                        <p style="margin-top: -5px;">
                                            <span class="topicItem">Được viết {{questionMore.createtime}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="answer-div">
                                    <!-- <p class="answer-text">{{item.commentcontent}}</p> -->
                                    <div id="contentMore"></div>

                                </div>
                                <!--<p class="topicDes">{{item.content}}</p>-->
                                <!-- <img ng-src="" height="100%" width="100%" ng-show="item.img!=null "> -->
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" style="border-top: 0px;">

            </div>

        </div>
    </div>
</div>


</div>
</div>

</div>
<!--===================================================-->
<!--End page content-->
<script type="text/javascript" src="../js/control.js"></script>
</div>
</div>