﻿<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="author" content="HozyTeam" />
        <link rel="shortcut icon" href="../img/favicon.png"/>
		<title>Hozy</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script type="text/javascript" src="../js/chart/js/fusioncharts.js"></script>
        <script type="text/javascript" src="../js/angular-fusioncharts.min.js"></script>
        <script type="text/javascript" src="../js/fusioncharts-jquery-plugin.min.js"></script>

		<!-- CSS files -->
	    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Font Awesome CSS -->
		
        <script src="https://use.fontawesome.com/03821f961b.js"></script>
		<!-- Froala themes -->
		<link rel="stylesheet" href="../css/froala/css/froala_editor.css" type="text/css">
		<link rel="stylesheet" href="../css/froala/css/froala_style.css" type="text/css">
		<link rel="stylesheet" href="../css/froala/css/plugins/emoticons.css" type="text/css">
		<link rel="stylesheet" href="../css/froala/css/plugins/image.css">
		<link rel="stylesheet" href="../css/froala/css/plugins/fullscreen.css" type="text/css">
		<link rel="stylesheet" href="../css/froala/css/plugins/quick_insert.css" type="text/css">
		<link rel="stylesheet" href="../css/froala/css/themes/gray.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
		<!-- Custom CSS -->
		<link href="../css/quora.css" rel="stylesheet" type="text/css">
		<link href="../css/login.css" rel="stylesheet" type="text/css">
		<link href="../css/answer.css" rel="stylesheet" type="text/css">
        <link href="../css/footer.css" rel="stylesheet" type="text/css">
        <link href="../css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
	    
        <link href="../css/login.css" rel="stylesheet" type="text/css">
        <!-- SignalR Initialize -->
	    <script src="../js/jquery.signalR-2.2.0.min.js"></script>
        <script src="/signalr/hubs"></script>
	</head>
	<body ng-app="hozy">

		<div  id="container" class="effect mainnav-sm" >
			<div class="site-header" ng-controller="headerController">
				<!-- NAVBAR -->
				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				  <div class="container-fluid" style="width: 90%;">
				    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" ui-sref="index"><img class="logo" ng-src="../img/both.png" width="100" height="60"></a>
				    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse collapse-hozy" id="bs-example-navbar-collapse-1" style="overflow: initial;">
					      	<form class="navbar-form navbar-left search-form" role="search" id="labnol" method="get" style="margin-left: 0px;">
						      	<div class="input-group form-group">
							      <input type="text" class="form-control text-search" name="q"  id="search-div" placeholder="Tìm kiếm..." ng-model="txtSearchQuestion" my-enter="goSearch()">
                                      <!-- Dropdown menu links -->
							    	<ul id="search-result-div" class="search-result animated fadeIn">
		                                <li class="topic-item" ng-repeat="item in rs" ui-sref="questionDetail({qid:item.id})">
									        <a style="cursor:pointer;">
										        <label style="cursor:pointer;">{{item.title}}</label>
									        </a>
								        </li>
		                            </ul>
		                           <span class="input-group-btn" style="right: 40px;z-index: 3;top: -3px;">
							        <!-- <button class="btn btn-default" type="button" ng-click="goSearch()"><i class="fa fa-search"></i></button> -->
							        <img onclick="startDictation()" src="../img/micro.gif" width="40" height="40" />
							        <button class="btn btn-default" type="button" ng-click="goSearch()"><i class="fa fa-search"></i></button>
							      </span>
							      
							    </div>
					      	</form>
					      	<ul class="nav navbar-nav navbar-right" ng-show="!logged">
						        <li class="text-top loginButton">
						        	<button class="btn btn-default" data-toggle="modal" data-target="#login" style="margin-right: 10px;">
						        		Đăng Nhập
						        	</button>
						        </li>
						     </ul>
					      	<ul class="nav navbar-nav navbar-right" ng-show="logged">
					          	<li class="text-top dropdown">
					        		<a id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="reCalElapsedTime()"><i class="fa fa-bell-o"></i>&nbsp;&nbsp;<span class="hidden-sm" >Thông Báo</span><span class="badge">{{count}}</span></a>
						        	<ul class="dropdown-menu dropdown-noti animated fadeIn" aria-labelledby="notification">
						        		<!-- <li ng-repeat="item in messages">
								            <a href=""><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{item.mes}}</a>
							        	</li> -->
							        	<li class="top-noti">
								            	<label>Thông báo</label>
							        	</li>
							        	<div>
							        		<li ng-repeat="item in messages.slice().reverse()" ng-class="{'checked-noti': item.ischecked}" ng-click="clickNoti(item.id,item.qid)">
									            <div class="photo_info" style="height: 40px;">
													<div class="photo">
														<a href="#" class="avatar">
															<img ng-src="{{item.img}}" height="40" width="40" class="avatar">
														</a>
													</div>
													<div class="noti-mess">
														<a style="font-size: 14px;">{{item.mes}}</a>
                                                        <p class="topicItem" style="margin-left: 60px;margin-bottom: 0;">{{item.elapsedTime}}</p>
													</div>
												</div>	
								        	</li>
								        	
							        	</div>
							        	<li class="bottom-noti">
								            
							        	</li>
						        	</ul>
						       	</li>
					        	<li class="text-top dropdown">
					        		<a class="dropdown-toggle" id="userInfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 12px;"><img ng-src="{{avatar}}" height="30" width="30" class="avatar"></i></i>&nbsp;&nbsp;{{name}}</a>
						        	<ul class="dropdown-menu dropdown-user animated fadeIn" aria-labelledby="userInfo">
						        		<li ng-click="linkToProfile()">
							        		<a href=""><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Trang Cá Nhân</a>
							        	</li>
							        	<li ng-show="isAdmin">
							        		<a ui-sref="analytics"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;Quản lý</a>
							        	</li>
							        	<li>
							        		<a ui-sref="amaList"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;AMA</a>
							        	</li>
                                        <li>
							        		<a ui-sref="changepassword({ uid: uid })"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;&nbsp;Đổi mật khẩu</a>
							        	</li>
							        	<li>
							        		<a ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Đăng xuất</a>
							        	</li>
						        	</ul>
						       	</li>
					      	</ul>
					    </div>
				  </div><!-- /.container-fluid -->
				</nav>
				<!-- END NAVBAR -->
				
				<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" ng-controller="loginController">
				  	<div class="modal-dialog" role="document">
					    <div class="modal-content modal-login">
					      	<div class="form-inner">
								<div class="sign-up-login">
									<!-- <h1 class="text-center logo-text">Hozy</h1> -->
									<div class="text-center">
										<img class="text-center" src="../img/logoHozy.png">
										<button type="button" class="close close-login" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									</div>
									<div class="col-sm-12 login-content">
										<div class="row">
											<div class="col-md-12">
												<p style="margin-top: 10px; font-size: 20px;">Đăng nhập qua</p>
												<div class="social-buttons row form-group">
													<div class="col-sm-6 text-left">
													    <a href="#" class="btn btn-fb" ng-click="loginFacebook()"> <i class="fa fa-facebook"></i> Facebook</a>
													</div>
													<div class="col-sm-6">
														<a href="#" class="btn btn-gg"><i class="fa fa-google"></i> Google</a>
													</div>
												</div>
				                                <p>hoặc</p>
												 <form ui-keypress="{13:'login()'}" id="formName" name="formName" ng-init = "submitted=false">
													<div class="form-group">
														<div class="input-group">
														  	<span class="input-group-addon" id="username"><i class="fa fa-user"></i></span>
														  	<input type="email" class="form-control" placeholder="Địa chỉ email" ng-model="username" name="username" aria-describedby="username" required ng-change = "submitted=false">
														</div>
														<div class="col-sm-12 text-left validate-text" ng-messages="formName.username.$error" ng-if="formName.username.$dirty" ng-cloak>
	                                                         <span class="text-danger" ng-message="required">Vui lòng nhập địa chỉ email</span>
	                                                         <span class="text-danger" ng-message="email">
       														 Không đúng định dạng email</span>
	                                                    </div>
													</div>
													<div class="form-group">
														<div class="input-group">
														  	<span class="input-group-addon" id="password"><i class="fa fa-lock" style="font-size: 16px;"></i></span>
														  	<input type="password" class="form-control" placeholder="Mật khẩu" ng-model="password" name="password" aria-describedby="password" required ng-change = "submitted=false">
														</div>
														<div class="col-sm-12 text-left validate-text" ng-messages="formName.password.$error" ng-if="formName.password.$dirty" ng-cloak>	     
															<span class="text-danger" ng-message="required">Vui lòng nhập mật khẩu của bạn</span>
	                                                    </div>
													</div>
	                                                <div class="form-group">
	                                                 	<div class="help-block">
	                                                     	<div class="col-xs-6 text-left validate-text">	     
																<span class="text-danger" ng-show="invalidUser && submitted && formName.$valid">Bạn nhập sai tài khoản rồi! Thử lại nhé</span>
		                                                    </div>
	                                                     	<div class="col-xs-6 text-right forgotPasword">
	                                                         	<a data-toggle="modal" data-target="#resetpass" ng-click="goRegister()">Quên mật khẩu?</a>

	                                                     	</div>
	                                                 	</div>
	                                                </div>
												    <div class="form-group">
												         <button type="submit" class="btn btn-primary btn-block" ng-click="login()" ng-disabled="formName.$invalid">Đăng nhập</button>
												    </div>
												 </form>
											</div>
											<div class="bottom text-center">
												Bạn chưa có tài khoản? <a data-toggle="modal" data-target="#register" ng-click="goRegister()"><b>Đăng kí ngay</b></a>
											</div>
									 	</div>
									</div>
								</div>
							</div>
					    </div>
				  	</div>
				</div>
				<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="register" ng-controller="register">
				  	<div class="modal-dialog" role="document">
					    <div class="modal-content modal-login" style="height: 330px;">
					      	<div class="form-inner">
								<div class="sign-up-login">
									<div class="text-center">
										<img class="text-center" src="../img/logoHozy.png">
										<button type="button" class="close close-login" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									</div>
									<div class="col-sm-12 login-content">
										<div class="row">
											<div class="col-sm-12" style="margin-top: 20px;">
												<label style="font-size: 20px">Đăng kí&nbsp;<i class="fa fa-pencil" aria-hidden="true"></i></label>
											</div>
											<div class="col-md-12" style="margin-top: 10px;">
				                                <form  name="form" ng-submit="register()" id="form"  novalidate autocomplete="off">
				                                <fieldset>
													 <div class="control-group" >
													 	<div class="form-group">
															<div class="input-group">
															  	<span class="input-group-addon" id="displayname"><i class="fa fa-user"></i></span>
															  	<input type="text" class="form-control" placeholder="Tên hiển thị" ng-model="name" name="name" ng-minlength="3" ng-maxlength="20" required aria-describedby="displayname" ng-change = "isExist=false">
															</div>
															<div class="col-sm-12 text-left validate-text" ng-messages="form.name.$error" ng-if="form.name.$dirty" ng-cloak>
		                                                         <span class="text-danger" ng-message="required">Vui lòng nhập tên hiển thị</span>
		                                                         <span class="text-danger" ng-message="maxlength">Tên hiện thị không quá 20 kí tự</span>
		                                                         <span class="text-danger" ng-message="minlength">Tên hiển thị phải dài hơn 3 kí tự</span>
		                                                    </div>
														</div>
														<div class="form-group">
															<div class="input-group">
															  	<span class="input-group-addon" id="email">@</span>
															  	<input type="email" class="form-control" placeholder="Địa chỉ Email" ng-model="id" name="id" required aria-describedby="email" ng-change = "isExist=false">
															</div>
															<div class="col-sm-12 text-left validate-text" ng-messages="form.id.$error" ng-if="form.id.$dirty" ng-cloak>
		                                                         <span class="text-danger" ng-message="required">Vui lòng nhập địa chỉ email</span>
		                                                         <span class="text-danger" ng-message="email">
	       														 Địa chỉ email không hợp lệ</span>
	       														 <span class="text-danger" ng-show="isExist">
	       														 Địa chỉ email đã tồn tại</span>
		                                                    </div>
														</div>
														<div class="form-group" style="margin-top: 25px">
															 <input type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid"  value="Đăng kí" id="submit">
														</div>
													</div>
													</fieldset>
												</form>
											</div>
											<div class="bottom text-center">
												Bạn đã có tài khoản? <a data-toggle="modal" data-target="#login" ng-click="goLogin()"><b>Đăng nhập</b></a>
											</div>
									 	</div>
									</div>
								</div>
							</div>
					    </div>
				  	</div>
				</div>
                <div class="modal fade" id="resetpass" tabindex="-1" role="dialog" aria-labelledby="resetpass" ng-controller="register">
				  	<div class="modal-dialog" role="document">
					    <div class="modal-content modal-login" style="height: 217px;">
					      	<div class="form-inner">
								<div class="sign-up-login">
									<div class="text-center">
										<img class="text-center" src="../img/logoHozy.png">
										<button type="button" class="close close-login" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									</div>
									<div class="col-sm-12 login-content">
										<div class="row">
											<div class="col-sm-12" style="margin-top: 20px;">
												<label style="font-size: 20px">Quên mật khẩu&nbsp;<i class="fa fa-refresh" aria-hidden="true"></i></label>
											</div>
                                            <div class="col-sm-12">
                                                <form  name="form" ng-submit="register()" id="form1"  novalidate autocomplete="off">
				                                    <fieldset>
                                                        <div class="form-group">
                                                            <div class="input-group">
													            <span class="input-group-addon" id="Span1">@</span>
													            <input type="email" class="form-control" placeholder="Địa chỉ Email" ng-model="emailrs" name="id" required aria-describedby="email" ng-change = "isExist=false">
												            </div>
                                                            <div class="col-sm-12 text-left validate-text" ng-messages="form.id.$error" ng-if="form.id.$dirty" ng-cloak>
		                                                        <span class="text-danger" ng-message="required">Vui lòng nhập địa chỉ email!</span>
		                                                        <span class="text-danger" ng-message="email">
	       												        Địa chỉ email không hợp lệ</span>
	       												        <span class="text-danger" ng-show="isExist">
	       												        Địa chỉ email đã tồn tại</span>
		                                                    </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            
											<div class="bottom text-center">
												<button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="resetPass()">Nhận lại mật khẩu</button>
											</div>
									 	</div>
									</div>
								</div>
							</div>
					    </div>
				  	</div>
				</div>
			</div>
           

			<!--===================================================-->
			<!--END NAVBAR-->
			<!-- directive here -->
                <div ui-view></div>
                
                <div class="spinner-div" ng-show='stateIsLoading'>
				  	<img src="../img/spinner.gif" class="spinner" height="60" width="60">
					<span class="sr-only">Loading...</span>
				</div> 
			</div>
			<!-- Froala JS -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
			<script type="text/javascript" src="../js/froala/js/froala_editor.min.js"></script>
			<script type="text/javascript" src="../js/froala/js/plugins/align.min.js"></script>
			<script type="text/javascript" src="../js/froala/js/plugins/emoticons.min.js"></script>
			<script type="text/javascript" src="../js/froala/js/plugins/image.min.js"></script>
			<script type="text/javascript" src="../js/froala/js/plugins/link.min.js"></script>
			<script type="text/javascript" src="../js/froala/js/plugins/lists.min.js"></script>
			<script type="text/javascript" src="../js/froala/js/plugins/paragraph_format.min.js"></script>
			<script type="text/javascript" src="../js/froala/js/plugins/quick_insert.min.js"></script>
			<script type="text/javascript" src="../js/froala/js/plugins/fullscreen.min.js"></script>
			<script type="text/javascript" src="../js/froala/js/plugins/quote.min.js"></script>
			<!-- AngularJS -->
     	 	<script type="text/javascript" src="../js/hozyController.js"></script>
     	 	<script type="text/javascript" src="../js/angular-ui-router.js"></script>
			<script type="text/javascript" src="../js/angular-messages.js"></script>
     	 	<script type="text/javascript" src="../js/ui-bootstrap-2.1.3.js"></script>
     	 	<script type="text/javascript" src="../js/bootstrap-datepicker.js"></script>
	        <script type="text/javascript" src="../js/cookies.js"></script>
            <script type="text/javascript" src="../js/typeahead.bundle.js"></script>
            <script type="text/javascript" src="../js/control.js"></script>

            <!-- SignalR JS -->
	        <script type="text/javascript" src="../js/signalrcustom.js"></script>
	        

	        <script type="text/javascript">
                
        	</script>
 	 	<!-- Google Analytics -->
	<script>
	    
	    (function (i, s, o, g, r, a, m) {
	        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
	            (i[r].q = i[r].q || []).push(arguments)
	        }, i[r].l = 1 * new Date(); a = s.createElement(o),
	            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	    ga('create', 'UA-87575043-1', 'auto');
	    ga('send', 'pageview');

	</script>


   
	<!-- End Google Analytics -->
        <script>
            function startDictation() {

                if (window.hasOwnProperty('webkitSpeechRecognition')) {

                    var recognition = new webkitSpeechRecognition();

                    recognition.continuous = false;
                    recognition.interimResults = false;

                    recognition.lang = "vi-VN";
                    recognition.start();

                    recognition.onresult = function (e) {
                        document.getElementById('search-div').value
                                                 = e.results[0][0].transcript;
                        angular.element(document.getElementById('search-div')).scope().txtSearchQuestion = e.results[0][0].transcript;
                        angular.element(document.getElementById('search-div')).scope().$apply();
                        recognition.stop();
                       // document.getElementById('labnol').submit();
                    };

                    recognition.onerror = function (e) {
                        recognition.stop();
                    }

                }
            }
        </script>
		</body>
	</html>