﻿<link href="../css/profile.css" rel="stylesheet" type="text/css">
<div class="boxed" ng-controller="profileController">
	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div>
		<!--Page content-->
		<!--===================================================-->
		<div id="in-page-content">
			<div class="panel">
				<div class="panel-body animated fadeIn" ng-show = "showDetail">
					<div class="row">
						<div class="hover"></div>  
						<div class="col-sm-12 padding-div hide-ask">
							<div class="left-col">
								<div class="col-sm-12 padding-div">
									<div class="profile-header">
										<div class="photo_info">
											<div class="photo">
												<a  class="avatar">
													<img src="{{avatar}}" height="142" width="142" class="bigavatar" >
												</a>
											</div>
											<!-- Avatar Upload -->
											<div class="photo-upload" ng-show="isUser">
											    <label for="file-input">
													<img src="../img/camera.png" height="35" width="35">
												</label>

											    <input id="file-input" type="file" ng-model="inputAva" valid-file onchange="angular.element(this).scope().loadImageFileAsURL(1)"/>
											</div> 
											<div class="user_info_big">
												<div class="col-xs-10 col-sm-8 info">
													<a class="topicTitle shadow-text">
														<span>
															<input type="text" class="status" placeholder="Tên" ng-model = "txtName" ng-show="!isName" my-enter="update(avatar,1)">
														</span>
														<span ng-show="isName">{{displayname}}</span>
														<span>
															<a class="editName" ng-click="putName()" ng-show="isName && isUser"><i class="fa fa-pencil"></i></a>
														</span>
													</a>
													
													<p class="wrap-description"><a  class="user-des shadow-text" ng-click="putDes()" ng-show="isDes">{{description}}</a></p>
													<input type="text" class="status" placeholder="Giới thiệu bản thân" my-enter="update(avatar,1)" ng-model = "txtDescription" ng-show="!isDes && isUser" ng-init="txtDescription=''">
												</div>
												<div class="col-xs-2 col-sm-4" ng-show="isUser">
													<div class="primary-item">
														<div class="cover-upload">
															<label for="file-input1">
																<img src="../img/camera.png" height="20" width="20">
																<span class="hidden-xs">Đăng ảnh bìa</span>
															</label for="file-input1">
															<input id="file-input1" type="file" ng-model="inputCover" valid-file onchange="angular.element(this).scope().loadImageFileAsURL(2)"/>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="center-content">
										<div class="center-content-header no-radius tab-bar" style="border-radius: 0px;">
												<ul class="tab-element">
													<li ng-click = "openTab(1)" class="active-tab">
														<a >Trả lời</a>
													</li>
													<li ng-click = "openTab(2)">
														<a>Câu hỏi</a>
													</li>
													<li class="end-li" ng-click = "openTab(3)">
														<a>Chủ đề</a>
													</li>
												</ul>
										</div>
									</div>
								</div>
								<div class="col-sm-3 padding-div">
									<!-- RIght Content -->
									<div class="right-col">
										<div class="right-col-header">
											<div class="row" style="margin-bottom: 10px;">
												<div class="col-xs-6">Thông tin</div>
												<div class="col-xs-6" ng-show="isUser">
													<p style="margin: 0; float:right;"><a  class="topicItem" ng-click="editAbout()">Sửa</a></p>
												</div>
											</div>
										</div>
										<div class="right-col-body">
											<div class="listTopic">
												<div class="topic-row">
													<div class="topicIcon col-sm-2" style="padding:0;"><i class="fa fa-briefcase" aria-hidden="true"></i></div>&nbsp;
													<span class="col-sm-10">
														<a class="topicItem" style="color: #333333" ng-show="!isEdit">{{employment}}</a>
														<input type="text" class="form-control edit-about" value="{{employment}}" ng-model="txtemployment" ng-show="isEdit">
													</span>
												</div>
												<div class="topic-row">
													<div class="topicIcon col-sm-2" style="padding:0;"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>&nbsp;
													<span class="col-sm-10">
														<a class="topicItem" style="color: #333333" ng-show="!isEdit">{{education}}</a>
														<input type="text" class="form-control edit-about" value="{{education}}" ng-model="txteducation" ng-show="isEdit">
													</span>
												</div>
												<div class="topic-row">
													<div class="topicIcon col-sm-2" style="padding:0;"><i class="fa fa-map-marker" aria-hidden="true"></i></div>&nbsp;
													<span class="col-sm-10">
														<a class="topicItem" style="color: #333333" ng-show="!isEdit">{{address}}</a>
														<input type="text" class="form-control edit-about" value="{{address}}" ng-model="txtaddress" ng-show="isEdit">
													</span>
												</div>
												<div class="topic-row">
													<div class="topicIcon col-sm-2" style="padding:0;"><i class="fa fa-calendar" aria-hidden="true"></i></div>&nbsp;
													<span class="col-sm-10">
														<a class="topicItem" style="color: #333333" ng-show="!isEdit">{{dob}}</a>
														<input type="text" class="form-control edit-about" value="{{dob}}" ng-model="txtdob" ng-show="isEdit">
													</span>
												</div>
												<div class="col-sm-12" style="padding: 0;" ng-show="isEdit">
													<button class="btn btn-info btn-sm" ng-click="update(avatar,1)">Update</button>
													&nbsp;&nbsp;
													<button class="btn btn-default btn-sm" ng-click="cancelEdit()">Cancel</button>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-sm-9 padding-div">
									<!-- Center content -->
									<div class="center-content">
										<!-- answer user -->
										<div class="animated fadeIn" ng-show="answerTab">
											<div class="center-content-header">
												<div class="row">
													<div class="col-xs-6">{{answerCount}} Câu trả lời</div>
												</div>
												<hr class="underline">
											</div>
											<div class="center-content-body">
												<a ui-sref="index" style="font-size: 20px;" ng-show="answerInfo && isUser">Bạn chưa trả lời câu hỏi nào. Hãy vào trang chủ và cùng gia nhập cộng đồng Hozy nhé!</a>
												<a ui-sref="index" style="font-size: 20px;" ng-show="answerInfo && !isUser">{{displayname}} chưa theo trả lời câu hỏi nào!</a>
												<div class="questionTitle" style="border-bottom: 1px solid #ccc;" ng-repeat="item in answerList track by $index">
													<a class="title" ng-attr-id="{{ 'qes' + $index }}" ui-sref="questionDetail({qid:item.question.id})">
														{{item.question.title}}
													</a>
													<div>
														
			                                             <div class="answer-div" style="font-size: 14px;">
															<!-- <p class="answer-text">{{item.commentcontent}}</p> -->
															<div ng-attr-id="{{ 'answercontent' + item.id }}"></div>
																{{getAnswerUser(item.id)}}

														</div>			
														<!--<p class="topicDes">{{item.content}}</p>-->
														<img src=""  height="100%" width="100%" ng-show="item.img!=null ">
														<p style="margin-top:5px;"><a class="topicItem">{{item.votecountup - item.votecountdown}} votes</a></p>

													</div>

												</div>
											</div>
											

										</div>
										<!-- question user -->
										<div ng-show="questionTab" class="center-content-body animated fadeIn" style="padding-top: 5px;">
											<div class="question-tab">
												<ul class="nav nav-tabs">
												    <li ng-class="{active:isSet(1)}"><a ng-click="setTab(1)">Của bạn</a></li>
												    <li ng-class="{active:isSet(2)}"><a ng-click="setTab(2)">Quan tâm</a></li>
												</ul>

												<div class="tab-content">
												    <div class="animated fadeIn" ng-show="isSet(1)" style="padding-top: 20px; padding-bottom: 10px;">
												    	<a ui-sref="index" style="font-size: 20px;" ng-show="questionInfo && isUser">Bạn chưa đặt câu hỏi nào. Hãy vào trang chủ và cùng gia nhập cộng đồng Hozy nhé!</a>
												    	<a ui-sref="index" style="font-size: 20px;" ng-show="questionInfo && !isUser">{{displayname}} chưa đặt câu hỏi nào!</a>
												      	<div style="border-bottom: 1px solid #ccc;" ng-repeat = "item in json track by $index">
												      		<div class="questionTitle">
																<a class="title" ng-attr-id="{{ 'qes' + $index }}" ui-sref="questionDetail({qid:item.id})">
																	{{item.title}}
																</a>
																<div>
																	<div class="photo_info">
																		<div>
																			<p style="margin-top:-5px;">
																				<span class="topicItem">Được viết {{item.createtime}}</span>
																			</p>
																		</div>
																	</div>		
						                                             <div class="answer-div">
																		<!-- <p class="answer-text">{{item.commentcontent}}</p> -->
																		<div ng-attr-id="{{ 'content' + item.id }}"></div>
																			{{functiona(item.id)}}

																	</div>			
																	<!--<p class="topicDes">{{item.content}}</p>-->
																	<img src=""  height="100%" width="100%" ng-show="item.img!=null ">
																	<p style="margin-top:5px;"><a class="topicItem">{{item.votecountup - item.votecountdown}} votes</a></p>

																</div>

															</div>
												      	</div>
												    </div>
												    <div class="animated fadeIn" ng-show="isSet(2)" style="padding-top: 20px; padding-bottom: 10px;">
												      	<a ui-sref="index" style="font-size: 20px;" ng-show="questionFollowInfo && isUser">Bạn chưa theo dõi câu hỏi nào. Hãy vào trang chủ và cùng gia nhập cộng đồng Hozy nhé!</a>
												      	<a ui-sref="index" style="font-size: 20px;" ng-show="questionFollowInfo && !isUser">{{displayname}} chưa theo dõi câu hỏi nào!</a>
												      	<div style="border-bottom: 1px solid #ccc;" ng-repeat = "item in questionFollowList track by $index">
												      		<div class="questionTitle">
																<a class="title" ng-attr-id="{{ 'qes' + $index }}" ui-sref="questionDetail({qid:item.id})">
																	{{item.title}}
																</a>
																<div>
																	<div class="photo_info">
																		<div class="photo">
																			<a  class="avatar">
																				<img src="{{item.user.avatar}}" height="40" width="40" class="avatar">
																			</a>
																		</div>
																		<div>
																			<p style="cursor: pointer;" ui-sref="profile({uid:item.user.id})"><span class="user-name">{{item.user.displayname}}</span></p>
																			<p style="margin-top:-5px;">
																				<span class="topicItem">Written {{item.createtime}}</span>
																			</p>
																		</div>
																	</div>		
						                                             <div class="answer-div">
																		<!-- <p class="answer-text">{{item.commentcontent}}</p> -->
																		<div ng-attr-id="{{ 'questionfollowcontent' + item.id }}"></div>
																			{{getQuestionFollow(item.id)}}

																	</div>			
																	<!--<p class="topicDes">{{item.content}}</p>-->
																	<img src=""  height="100%" width="100%" ng-show="item.img!=null ">
																	<p style="margin-top:5px;"><a class="topicItem">{{item.votecountup - item.votecountdown}} votes</a></p>

																</div>

															</div>
												      	</div>
												    </div>
												</div>
												
											</div>
											
										</div>
										
										<div class="animated fadeIn" ng-show="topicTab">
											<div class="center-content-header">
												<div class="row">
													<div class="col-sm-6">{{countTopic}} chủ đề</div>
												</div>
												<hr class="underline">
											</div>
											<div class="center-content-body">
												<div class="listTopic" style="display: inline-block;">
													<a ui-sref="index" style="font-size: 20px;" ng-show="topicInfo && isUser">Bạn chưa theo dõi chủ đề nào. Hãy vào trang chủ và cùng gia nhập cộng đồng Hozy nhé!</a>
													<a ui-sref="index" style="font-size: 20px;" ng-show="topicInfo && !isUser">{{displayname}} chưa theo dõi chủ đề nào!</a>
													<div class="photo_info col-sm-6" ng-repeat="item in listFollowTopic track by $index">
														<div class="photo">
															<a class="avatar">
																<img src="{{item.topicimage}}" height="40" width="40" class="avatar">
															</a>
														</div>
														<div class="user_info" style="height: 50px; padding: 10px;">
															<p class="topicTitle pointer" ui-sref="topicDetail({tid:item.topicid})">{{item.topicname}}</p>
														</div>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- End Center Content -->
								</div>
							</div>
						</div>
						<div class="col-sm-3 padding-div hide-ask">
							
						</div>
					</div>
					
					
					
				</div>
			</div>
		</div>
		<!--===================================================-->
		<!--End page content-->
	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->
	
	<!--MAIN NAVIGATION-->
	<!--===================================================-->
</div>
<script type="text/javascript" src="../js/control.js"></script>