﻿<div class="boxed" ng-controller="questionDetailController">
	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div>
		<!--Page content-->
		<!--===================================================-->
		<div id="in-page-content">
			<div class="panel">
				<!-- <div id="profile" class="collapse">
					<ul class="profileDiv">
					    <li class="profileItem">
					        <a href="">Profile</a>
					    </li>
					    <li class="profileItem">
					        <a href="">Logout</a>
					    </li>
					</ul>
				</div> -->
				<div class="panel-body">
					<div class="row">
						<div class="hover"></div>  
						<div class="col-sm-9 padding-div hide-ask animated fadeIn" ng-show = "showDetail">
							<div class="left-col left-bar">
								<div class="center-content-header">
									<div class="row">
										<div class="col-sm-12">
											<div class="topic-tag" ng-repeat="item in listTopic">
												<a ng-click="linkTopicDetail(item.topicid)" bs-tooltip data-placement="bottom" title="{{tooltip}}" ng-mouseover ="mouseover(item.topicid)" ng-mouseout="mouseout()">{{item.topicname}}</a>
											</div>
											<div class="topic-tag show-div" data-toggle="modal" data-target="#listTopic" ng-show="isOwn || isAdmin" data-toggle="tooltip" data-placement="bottom" title="Sửa chủ đề" ng-click="showTopicTooltip = false">
												<a><i class="fa fa-pencil" aria-hidden="true" ></i></a>
											</div>
											<div ng-show = "showTopicTooltip && (isOwn || isAdmin)" style="font-size: 18px;color: #2989bc;">
												<span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
												<span>Chọn một chủ đề để mọi người dễ thấy câu hỏi của bạn hơn</span>
											</div>

										</div>
									</div>
								</div>
                                <div class="center-content-body">
                                    <div class="question-topic question-div" style="display: inline-block;">
										
										<div class="photo_info">
											<div class="photo">
												<a  class="avatar">
													<img ng-src="{{questionInfo.user.avatar}}" height="40" width="40" class="avatar">
												</a>
											</div>
											<div class="user_info">
												<p style="cursor: pointer; margin-bottom: 5px;" ui-sref="profile({uid:questionInfo.user.id})"><span class="user-name">{{questionInfo.user.displayname}}</span></p>

												<p style="margin-top:-5px;">
													<a  class="topicItem">{{questionInfo.createtime}}</a>
												</p>
											</div>
										</div>
                                        <div class="questionTitle">
											<label class="title">
												{{questionInfo.title}}
											</label> 
											<!-- <p>Boss Phung want to become a Super Saiyan.</p> 
											 <p style="margin-top:-5px;"><a  class="topicItem">100 Answer</a></p> -->
										</div>
                                        <div class="answer-div">
										    <div id="questionContent" ng-init="editQuestion=false" ng-show="!editQuestion"></div>

									    </div>
										<!-- <div class="question-content">
											<textarea class="mceEditor" id="question-detail"></textarea>
											<button class="btn btn-sm btn-primary" ng-click="getContent()">Get Content</button>
										</div> -->
										<!-- <div id="show-detail">
											
										</div>
										<textarea class="mceEditor" id="question-detail1"></textarea> -->
                                       
									    <section id="section2" ng-show="editQuestion" style="margin-bottom: 10px;" ng-init="editQuestion=false">
										    <div id="rteditQ" style="margin-top: 30px;" class="edit">
										        
										    </div>
                                            <button class="btn btn-sm btn-info" ng-click="editQuestionF()" style="margin-top:17px;">Sửa</button>
                                            &nbsp;&nbsp;
											<button class="btn btn-sm btn-default" style="margin-top:17px;" ng-click="editQuestion=!editQuestion">Thoát</button>
										</section>
												  
									
												
										<div class="inforBar" ng-show="logged && !editQuestion" style="margin-top: 10px;">
                                            <div class="actionBar">
												<button class="btn btn-sm btnUpvote" ng-click="voteQ(questionInfo.id,true)">Upvote | <span>{{questionInfo.votecountup}}</span></button>
											</div>
											<div class="actionBar followLink">
												<span  class="topicItem" ng-click="voteQ(questionInfo.id,false)">Downvote</span>
                                                <span class="count">{{questionInfo.votecountdown}}</span>
											</div>
											<div class="actionBar followLink" ng-show="!isFollowed" ng-init="isFollowed=true"> 
												<a  class="topicItem" ng-click="followQ(questionInfo.id)">Theo dõi</a>
												<span class="count" style="cursor:pointer;" ng-click="followClick()" data-toggle="modal" data-target="#listFollow">{{questionInfo.followcount}}</span>
											</div>
                                            <div class="actionBar followLink" ng-show="isFollowed" > 
												<a  class="topicItem" ng-click="unfollowQ(questionInfo.id)">Bỏ theo dõi</a>
												<span class="count" style="cursor:pointer;" ng-click="followClick()" data-toggle="modal" data-target="#listFollow">{{questionInfo.followcount}}</span>
											</div>
											<!--<div class="actionBar followLink">
												<a  class="topicItem">Share</a>
											</div>-->
                                            
                                            <div class="actionBar followLink">
												<span  class="topicItem" ng-click="">Lượt xem</span>
                                                <span class="count">{{questionInfo.viewcount}}</span>
											</div>
											<div class="dropup">
											    <div class="subButton dropdown-toggle" id="editQuestion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<span><i class="fa fa-circle" aria-hidden="true" style="font-size: 5px"></i></span>
													<span><i class="fa fa-circle" aria-hidden="true" style="font-size: 5px"></i></span>
													<span><i class="fa fa-circle" aria-hidden="true" style="font-size: 5px"></i></span>
												</div>
											  	<ul class="dropdown-menu drop-edit" aria-labelledby="editQuestion" ng-show="isOwn || isAdmin">
												    <li><a ng-click="editQ()">Sửa câu hỏi</a></li>
												    <li><a ng-click="deleteQShow(questionInfo.id)">Xóa</a></li>
												 </ul>
												 <ul class="dropdown-menu drop-edit" aria-labelledby="editQuestion" ng-show="!(isOwn || isAdmin) && !isReported" style="top: -45px;">
												    <li><a  data-toggle="modal" data-target="#report">Báo cáo</a></li>
												 </ul>
                                                <ul class="dropdown-menu drop-edit" aria-labelledby="editQuestion" ng-show="!(isOwn || isAdmin) && isReported" style="top: -45px;">
												    <li><a>Đã báo cáo</a></li>
												 </ul>
                                                
											</div>
											<div class="subButton networkShare" data-href="http://hozy.info/#/questionDetail/1" data-layout="button" data-size="small" data-mobile-iframe="false">
											    <span><a class="fb-xfbml-parse-ignore" target="_blank" href="{{'https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhozy.info%2F%23%2FquestionDetail%2F'+qid+'&amp;src=sdkpreparse'}}" style="color: inherit"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></span>
										    </div>
										</div>

									</div>
									<div class="answer-message" ng-show="logged && !isAnswered">
										<div>
											<i class="fa fa-smile-o fa-lg" aria-hidden="true" style="font-size: 50px; position: absolute; margin-top: 10px;"></i>
											&nbsp;&nbsp;
											<span style="font-size: 20px; margin-left: 53px; display: inline-block">Bạn có thể trả lời câu hỏi này không?</span>
										</div>
										
										
										<p style="margin-top: 5px;margin-left: 65px;">
											<button class="btn btn-sm btn-info" ng-init="answerClick == false"  ng-click="answerClick=!answerClick"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Trả lời</button>
										</p>
										<div class="answer-bar animated fadeIn" ng-show="answerClick && !isAnswered" style="margin-bottom: 10px;">
											<div class="row form-group">
												
												<div class="col-sm-12">
													<div class="photo_info" style="margin: 0;">
														<div class="photo" style="margin-left: 10px;">
															<a  class="avatar">
																<img ng-src="{{Avatar}}" height="40" width="40" class="avatar">
															</a>
														</div>
														<div class="user_info">
															<p style="margin: 0;"><span class="user-name">{{displayName}}</span></p>
															<p style="margin-top:-5px;">
																<span class="topicItem"></span>
															</p>
														</div>
														<div class="text-area">
															<section id="editor">
															    <div id="edit" style="margin-top: 30px;" class="edit">
															        
															    </div>
															</section>
														</div>
													</div>
													
													<div id="editor" class="row form-group">
														<div class="col-sm-12" style="padding-left: 0;">
															<button class="btn btn-sm btn-info" ng-click="submitAnswer()">Đăng</button>
															&nbsp;&nbsp;
															<button class="btn btn-sm btn-default" ng-click="answerClick=!answerClick">Thoát</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="answer-message" ng-show="logged && isAnswered">
										<div>
											<i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true" style="font-size: 50px; position: absolute; margin-top: 10px;"></i>
											&nbsp;&nbsp;
											<span style="font-size: 20px; margin-left: 53px;">Bạn đã trả lời câu hỏi này rồi.</span>
										</div>
										<p style="margin-left: 65px;">
											<span class="topicItem">
												Bạn có thể sửa câu trả lời của mình
											</span>
										</p>
									</div>
									
									<div class="eventHeader" style="margin-top: 50px;">
										<p>{{answerCount}} Câu trả lời</p>
									</div>
									<!-- bat dau answer -->
									<div class="question-answer" ng-repeat="item in data track by item.id">
										<div ng-show="!isBadAnswer[$index]">
											<div class="questionTitle">
												<div class="photo_info">
													<div class="photo">
														<a  class="avatar">
															<img ng-src="{{item.avatar}}" height="40" width="40" class="avatar">
														</a>
													</div>
													<div class="user_info">
														<p style="cursor: pointer; margin-bottom: 5px;" ui-sref="profile({uid:item.userid})"><span class="user-name">{{item.displayname}}</span></p>

														<p style="margin-top:-5px;">
															<a  class="topicItem">{{item.createtime}}</a>
														</p>
														<a class="helpful" ng-click="markasHelpful(item.id)" ng-show="isOwn && !item.helpful"><i class="fa fa-star-o" aria-hidden="true"></i></a>
														<a class="helpful" style="color: #FFD473;" ng-show="item.helpful"><i class="fa fa-star" aria-hidden="true"></i></a>
													</div>
												</div>
												<div class="answer-div" ng-show="!editMode[$index]">
													<!-- <p class="answer-text">{{item.commentcontent}}</p> -->
													<div ng-attr-id="{{ 'content' + item.id }}"></div>
														{{functiona(item.id)}}

												</div>
												<!--<div class="number-view" ng-show="!editMode[$index]">
													<span class="topicItem">{{item.viewNumber}} Lượt xem</span>
													<span class="bullet"> · </span>
													<span class="topicItem">
														<a  class="topicItem">Xem Upvotes</a>
													</span>
												</div>-->
												<!-- <div class="photoDiv">
													<img src="../img/ava.png" class="photoAttachment">
												</div> -->	
											</div>
											<section id="editor" ng-show="editMode[$index]" style="margin-bottom: 10px;">
											    <div ng-attr-id="{{ 'edit' + item.id}}" style="margin-top: 30px;" class="edit">
											        
											    </div>
											</section>
											<div id="editor" class="row form-group" ng-show="editMode[$index]">
												<div class="col-sm-12" style="padding-left: 0;">
													<button class="btn btn-sm btn-info" ng-click="updateAnswer($index,item.id)">Cập nhật</button>
												</div>
											</div>
											<div class="inforBar" ng-show="!editMode[$index] && logged">
												<!-- {{showUpvoteDown(item.userid)}} -->
												<div class="actionBar">
													<button class="btn btn-sm btnUpvote" ng-click="voteA(item.id,true)">Upvote | <span>{{item.votecountup}}</span></button>
												</div>
												<div class="actionBar followLink">
													<span  class="topicItem" ng-click="voteA(item.id,false)">Downvote</span>
	                                                <span class="count">{{item.votecountdown}}</span>
												</div>

												<!-- <div class="actionBar">
													<button class="btn btn-sm btnUpvote" ng-click="voteA(item.id,true)">Upvote | <span>{{item.votecountup - item.votecountdown}}</span></button>
												</div>
												<div class="actionBar">
													<button class="btn btn-sm btn-default" ng-click="voteA(item.id,false)">Downvote</button>
												</div> -->
												<div class="dropup">
												    <div class="subButton dropdown-toggle" id="editAnswer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-show="OwnOrAdmin(item.userid)">
														<span><i class="fa fa-circle" aria-hidden="true" style="font-size: 5px"></i></span>
														<span><i class="fa fa-circle" aria-hidden="true" style="font-size: 5px"></i></span>
														<span><i class="fa fa-circle" aria-hidden="true" style="font-size: 5px"></i></span>
													</div>
												  	<ul class="dropdown-menu drop-edit" aria-labelledby="editAnswer">
													    <li ng-click="editAnswer($index,item.id)"><a>Sửa Câu trả lời</a></li>
													    <li ng-click="deleteAnswerShow($index,item.id)"><a >Xóa</a></li>
													 </ul>
												</div>
												<div class="actionBar followLink" style="float: right;">
													<a class="topicItem"   ng-click="openListCmt($index,item.id)"><i class="fa fa-comment" style="font-size: 15px;" aria-hidden="true"></i>&nbsp;Bình luận</a>
													<!-- <span class="count">{{commentCount}}</span>	 -->
												<!--	<span class="count">{{cmtCount[$index]}}</span> -->
												</div>
												
	                                           <!--  <div class="subButton networkShare">
													<input type="button" name="name" value="edit answer waiting for ui " ng-click="editAsnwer(item.id)" class="form-control" ng-show="item.userid == uid" />
												</div> -->
												
	                                            
											</div>
											<div class="inforBar" ng-show="!logged">
												<div class="actionBar followLink"> 
													<span class="topicItem">Vote</span>
													<span class="count">{{item.votecountup - item.votecountdown}}</span>
												</div>
												
	                                            
											</div>
											<div class="answer-bar" ng-show="commentClick[$index]">
												<div class="row form-group" style="margin-bottom: 20px;">
													<div class="col-sm-12">
														<div class="col-xs-2 col-sm-1">
															<div class="photo photo-in-answer">
																<a  class="avatar">
																<img ng-src="{{Avatar}}" height="40" width="40" class="avatar">
															</a>
															</div>
															
															
														</div>
														<div class="col-xs-10 col-sm-9 ask-question">
															<input type="text" class="form-control" placeholder="Bình luận..." ng-model="cmt[$index]">
														</div>
														<div class="col-xs-12 col-sm-2 text-right" style="margin-left: -5px;">
															<button class="btn btn-sm btn-primary" ng-click="submitCmt($index,item.id)">Bình luận</button>
														</div>
													</div>
												</div>
												<div class="row form-group" ng-repeat="i in commentList[$index] track by i.id">
													<div class="col-sm-12">
														<div class="col-xs-2 col-sm-1">
															<div class="photo photo-in-answer">
																<a  class="avatar">
																<img ng-src="{{i.avatar}}" height="40" width="40" class="avatar">
															</a>
															</div>
															
															
														</div>
														<div class="col-xs-10 col-sm-11 ask-question">
															<div class="comment-block">
																<div class="user-name">
																	<p>{{i.displayname}} <a  class="topicItem">{{i.createtime}}</a></p> 
																</div>
																<div class="col-sm-12 padding-0">
																	<div class="comment">
																		<p ng-show="!scope.editAnswerclick" ng-attr-id="{{'commentp-' + $index +'-' + i.id}}">{{i.commentcontent}}</p>
																		<input type="text" class="form-control" value="{{i.commentcontent}}" style="margin-bottom: 10px;" ng-show="scope.editAnswerclick" my-enter="editComment(i.id,$parent.$index,$index,item.id); scope.editAnswerclick=!scope.editAnswerclick" ng-attr-id="{{'commentinput-' + $index +'-' + i.id}}">
																	</div>
																	<div class="edit-block" ng-show="OwnOrAdmin(i.userid)">
																		<a class="edit-icon" ng-init="scope.editAnswerclick == false"  ng-click="scope.editAnswerclick=!scope.editAnswerclick"><i class="fa fa-pencil" aria-hidden="true"></i></a>
	                                                                    
	                                                                    <a class="edit-icon" ng-click="deleteCmtShow(i.id,$parent.item.id,$parent.$index)"  ><i class="fa fa-times" aria-hidden="true"></i></a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="answer-message" ng-show="isBadAnswer[$index]" style="margin-top: 20px;">
											<div>
												<i class="fa fa-frown-o fa-lg" aria-hidden="true" style="font-size: 50px; position: absolute; margin-top: 10px;"></i>
												&nbsp;&nbsp;
												<span style="font-size: 20px; margin-left: 53px;">Câu trả lời này bị đánh giá là tồi, bạn có muốn xem không?</span>
											</div>
											
											
											<p style="margin-top: 5px;margin-left: 65px;">
												<button class="btn btn-sm btn-info" ng-click="isBadAnswer[$index] = !isBadAnswer[$index]">Xem</button>
											</p>
										</div>

									</div>
									<!-- <hr>	 -->
                                </div>
							</div>
						</div>
						<div class="col-sm-3 padding-div hide-ask" ng-show = "related.length !=0 && questionInfo!=undefined">

			                <div class="center-content-body">
			                    <div class="eventHeader">
			                    	<p class="top-story-title">Câu hỏi liên quan</p>
			                    </div>
								<ul class="related-content" ng-repeat="item in related">
									<li>
										<a ui-sref="questionDetail({qid:item.id})">{{item.title}}</a>
									</li>
									
								</ul>
			                </div>
			            </div>
						<!--top stories from feed-->
				        <div class="col-sm-12 padding-div hide-ask animated fadeIn" style="margin-top: 50px;" ng-show="feed.length>0 && questionInfo !=undefined">
				        	<div class="col-sm-12" style="padding: 0px;">
				                <p style="font-size: 20px;color: inherit;">Có thể bạn thích.</p>
				            </div>
				            <div class="col-sm-4 padding-0" ng-show="feed.length>0">
				                <div class="center-content-body" style="height: 422px; overflow: hidden;">
				                    <div class="eventHeader">
				                    	<p class="top-story-title">{{feed[0].topics[0].topicname}}</p>
				                    </div>
				                    <div class="questionTitle">
                                        <a class="title"  ui-sref="questionDetail({qid:feed[0].id})">
											{{feed[0].title}}
										</a>
										<div class="photo_info">
											<div class="photo">
												<a href="#" class="avatar">
													<img ng-src="{{feed[0].user.avatar}}" height="40" width="40" class="avatar">
												</a>
											</div>
											<div class="user_info">
												<p style="cursor: pointer; margin-bottom: 5px; "><span class="user-name" ui-sref="profile({uid:feed[0].user.id})">{{feed[0].user.displayname}}</span></p>

												<p style="margin-top:-5px;">
													<a href="#" class="topicItem">{{feed[0].createtime}}</a>
												</p>
											</div>
										</div>
                                        <!-- <div class="img-show" ng-show="imgAns[$index] !=0">
								            <img src="{{imgAns[$index]}}">
							            </div> -->
							            <div class="img-show" ng-show="imgFeed[0]!=0">
								            <img style="height: 200px;" ng-src="{{imgFeed[0]}}">
							            </div>
										<div class="answer-div" id="feed1" style="font-size: 14px;">
										</div>
										
										<!-- <div class="photoDiv">
											<img src="../img/ava.png" class="photoAttachment">
										</div> -->	
									</div>
				                </div>
				            </div>
				            <div class="col-sm-4 padding-0" ng-show="feed.length>1">
				                <div class="center-content-body" style="height: 422px; overflow: hidden;">
				                    <div class="eventHeader">
				                    	<p class="top-story-title">{{feed[1].topics[0].topicname}}</p>
				                    </div>
				                    <div class="questionTitle">
                                        <a class="title"  ui-sref="questionDetail({qid:feed[1].id})">
											{{feed[1].title}}
										</a>
										<div class="photo_info">
											<div class="photo">
												<a href="#" class="avatar">
													<img ng-src="{{feed[1].user.avatar}}" height="40" width="40" class="avatar">
												</a>
											</div>
											<div class="user_info">
												<p style="cursor: pointer; margin-bottom: 5px; "><span class="user-name" ui-sref="profile({uid:feed[1].user.id})">{{feed[1].user.displayname}}</span></p>

												<p style="margin-top:-5px;">
													<a href="#" class="topicItem">{{feed[1].createtime}}</a>
												</p>
											</div>
										</div>
                                        <!-- <div class="img-show" ng-show="imgAns[$index] !=0">
								            <img src="{{imgAns[$index]}}">
							            </div> -->
							            <div class="img-show" ng-show="imgFeed[1]!=0">
								            <img style="height: 200px;" ng-src="{{imgFeed[1]}}">
							            </div>
										<div class="answer-div" id="feed2" style="font-size: 14px;">
										</div>
										
										<!-- <div class="photoDiv">
											<img src="../img/ava.png" class="photoAttachment">
										</div> -->	
									</div>
				                </div>
				            </div>
                            <div class="col-sm-4 padding-0" ng-show="feed.length>2">
				                <div class="center-content-body" style="height: 422px; overflow: hidden;" >
				                    <div class="eventHeader">
				                    	<p class="top-story-title">{{feed[2].topics[0].topicname}}</p>
				                    </div>
				                    <div class="questionTitle">
                                        <a class="title"  ui-sref="questionDetail({qid:feed[2].id})">
											{{feed[2].title}}
										</a>
										<div class="photo_info">
											<div class="photo">
												<a href="#" class="avatar">
													<img ng-src="{{feed[2].user.avatar}}" height="40" width="40" class="avatar">
												</a>
											</div>
											<div class="user_info">
												<p style="cursor: pointer; margin-bottom: 5px; "><span class="user-name" ui-sref="profile({uid:feed[2].user.id})">{{feed[2].user.displayname}}</span></p>

												<p style="margin-top:-5px;">
													<a href="#" class="topicItem">{{feed[2].createtime}}</a>
												</p>
											</div>
										</div>
                                        <!-- <div class="img-show" ng-show="imgAns[$index] !=0">
								            <img src="{{imgAns[$index]}}">
							            </div> -->
							            <div class="img-show" ng-show="imgFeed[2]!=0">
								            <img style="height: 200px;" ng-src="{{imgFeed[2]}}">
							            </div>
										<div class="answer-div" id="feed3" style="font-size: 14px;">
										</div>
										
										<!-- <div class="photoDiv">
											<img src="../img/ava.png" class="photoAttachment">
										</div> -->	
									</div>
				                </div>
				            </div>
				        </div>    
					</div>
				</div>
			</div>
		</div>
		<!--===================================================-->
		<!--End page content-->
	</div>
	
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->
	<div class="modal fade" id="listTopic" tabindex="-1" role="dialog" aria-labelledby="listTopic" >
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-topic">
				<div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <label class="modal-title" style="font-size: 20px">Sửa chủ đề</label>
			      </div>
			      <div class="modal-body" style="min-height: 200px; padding-bottom: 0px;">
	                    <div class="col-sm-12">
	                        <div class="row">
	                        	<div class="topicform" style="margin-bottom: 15px;">
	                        		<input type="text" ng-model="txtSearchTopic"  class="form-control" placeholder="Search Topic">
		                        	<ul>
		                        		<li class="topic-item" ng-repeat="item in rs" ng-click="addQuestionTopic(item.topicid,item.name)">
											<a>
												<label >{{item.name}}</label>
												<img ng-src="{{item.image}}" height="25" width="25" class="avatar">
											</a>
                                            <p class="topicItem">{{item.followcount}} lượt theo dõi</p>
										</li>
		                        	</ul>
	                        	</div>
	                            
	                            <div class="topic-tag" style="margin-bottom: 5px;" ng-repeat="item in listTopic track by $index">
									<div class="listTopic">
										<!-- <i class="fa fa-circle topicStatus" aria-hidden="true"></i> -->
										<a >{{item.topicname}}</a>
										<i class="fa fa-remove remove" style="margin-top: 4px;margin-left: 7px;" ng-click="questionUnfollowTopic(item.topicid,$index)"></i>
									</div>
								</div>
	                    	</div>
						</div>
						<div ng-show="isCreating" style="font-size: 15px;" ng-init="isCreating = false">
                            <p class="text-success" ng-show="success">Tạo chủ đề mới thành công</p>
                            <p class="text-danger" ng-show="!success">Xảy ra lỗi khi tạo chủ đề mới do chủ đề đã tồn tại</p>
                        </div>
                        <div ng-show="!isCreating" style="font-size: 15px;">
                            <p class="text-danger" ng-show="check">Chủ đề này đã được thêm</p>
                            <p class="text-danger" ng-show="ngan">Tên của chủ đề phải dài hơn 3 kí tự</p>
                            <p class="text-danger" ng-show="dai">Tên của chủ đề không được dài quá 50 kí tự</p>
                        </div>
			      </div>
			      <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="addTopic()">Tạo chủ đề</button>
			        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Hoàn tất</button>
			      </div>
			    </div><!-- /.modal-content -->
				
			</div>
		</div>
	</div>			
    
    <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="listTopic" >
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-topic">
				<div>
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <label class="modal-title" style="font-size: 20px">Báo cáo</label>
			      </div>
			      <div class="modal-body" style="min-height: 70px;">
	                    <div class="col-sm-12">
	                        <div class="row">
	                        	<div class="topicform" style="margin-bottom: 15px;">
	                        		<div class="col-sm-2"><label class="control-label">Lý do</label></div>
                                    <div class="col-sm-8"><input class="form-control" ng-model="reason"/></div>
	                        	</div>
	                            
	                            
	                    	</div>
						</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" ng-click="reportQ()">Hoàn tất</button>
			      </div>
			    </div><!-- /.modal-content -->
				
			</div>
		</div>
	</div>	
    
    <!--list user follow	-->		
    <div class="modal fade" id="listFollow" tabindex="-1" role="dialog" aria-labelledby="listTopic" >
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-topic" style="width: 500px;">
				<div class="modal-content" style="width: 500px;">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <label class="modal-title" style="font-size: 20px">{{listUserFollow.length}} lượt theo dõi</label>
			      </div>
			      <div class="modal-body modal-follow" >
	                    <div class="col-sm-12">
	                        <div class="row" ng-repeat="item in listUserFollow">
                                <div class="photo_info">
								    <div class="photo">
									    <a  class="avatar">
										    <img ng-src="{{item.avatar}}" height="40" width="40" class="avatar">
									    </a>
								    </div>
								    <div class="user_info">
									    <p style="cursor: pointer; margin:0;" data-dismiss="modal" ng-click="goProfile(item.id)"><span class="user-name">{{item.displayname}}</span></p>
                                        <p class="topicItem">{{item.employment}}</p>
								    </div>
							    </div>
	                    	</div>
						</div>
			      </div>
			    </div><!-- /.modal-content -->
				
			</div>
		</div>
	</div>	
	<!--MAIN NAVIGATION-->
	<!--===================================================-->
				
	</div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
	<script type="text/javascript" src="../js/control.js"></script>
			