﻿<link href="../css/topic.css" rel="stylesheet" type="text/css">
<div class="boxed" ng-controller="searchReultController">
	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div>
		<!--Page content-->
		<!--===================================================-->
		<div id="in-page-content">
			<div class="panel">
				<div class="panel-body animated fadeIn">
					<!-- Left -->
					<div class="row">
						<div class="hover"></div>  
						<div class="col-sm-12 padding-div hide-ask">
							<div class="left-col">
								<div class="col-sm-12 padding-div">
									<!-- Center content -->
									<div class="center-content">
										<div class="center-content-body">
											<div class="eventHeader">
												<label>Tìm kiếm</label>
											</div>
                                            <div style=" padding-bottom:10px;" ng-show="!isCorrect">
                                                    <p style="margin-bottom: -8px; float: left;">Tìm kiếm thay thế cho: &nbsp;<a href="#" style="font-size:22px;" ><div id="correctSpelling" style="padding-top: 9px;  cursor: pointer;" ui-sref="search({keyword:ggrs.spelling.correctedQuery})"></div></a></p>
                                                </div>
											<div class="tab-show1">
												<ul class="nav nav-tabs">
												    <li ng-class="{active:isSet(1)}" style="width: 150px;"><a ng-click="setTab(1)" style="font-size: 17px;">Câu hỏi</a></li>
												    <li ng-class="{active:isSet(2)}" style="width: 150px;"><a ng-click="setTab(2)" style="font-size: 17px;">Chủ đề</a></li>
												    <li ng-class="{active:isSet(3)}" style="width: 150px;"><a ng-click="setTab(3)" style="font-size: 17px;">Người dùng</a></li>
												</ul>
                                                
												<div class="tab-content" style="padding-top: 10px;">
												    <div id="accordion" class="animated fadeIn" role="tablist" aria-multiselectable="true" ng-show="isSet(1)">
                                                        <div>Tìm thấy {{searchResult.length}} kết quả cho từ khóa: <b>{{keyword}}</b></div>
										                <div class="tab-show" ng-repeat="item in searchResult track by $index" style="border-bottom:1px solid #ccc; padding-bottom:10px;" >
											                <div class="questionTitle">
												                <a class="title" ng-attr-id="{{ 'qes' + $index }}" ui-sref="questionDetail({qid:item.id})">
													                {{item.title}}
												                </a>
												                <div>
													                <div class="photo_info" style="margin-bottom :-12px;">
														                <div class="photo">
															                <a class="avatar">
																                <img src="{{item.user.avatar}}" height="40" width="40" class="avatar">
															                </a>
														                </div>
														                <div class="user_info">
															                <p style="font-size: 17px;"><a>{{item.user.displayname}}</a></p>
															                <p style="margin-top:-13px;">
																                <span class="topicItem">Được viết {{item.createtime}}</span>
															                </p>
														                </div>
													                </div>		
		                                                            <div class="answer-div">
														                <!-- <p class="answer-text">{{item.commentcontent}}</p> -->
														                <div ng-attr-id="{{ 'content' + item.id }}"></div>
															                {{functiona(item.id)}}

													                </div>			
                                                                    <div class="inforBar">
										                                <div class="actionBar followLink">
                                                                            <a class="topicItem">Votes</a>
											                                <span class="count">{{item.votecountup - item.votecountdown}}</span>
											                                <a class="topicItem">Follow</a>
											                                <span class="count">{{item.followcount}}</span>
                                                                            <a class="topicItem">Views</a>
											                                <span class="count">{{item.viewcount}}</span>
										                                </div>
                                        
										                                <div class="subButton networkShare">
											                                <span><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
										                                </div>
									                                </div>
												                </div>
											                </div>
										                </div>	
													</div>
												    <div class="animated fadeIn" ng-show="isSet(2)">
                                                        <div class="show-ketqua">Tìm thấy {{searchTopicResult.length}} kết quả cho từ khóa: <b>{{keyword}}</b></div>
										                <div class="tab-show"  style="border-bottom:1px solid #ccc; padding-bottom:10px;" >
											                <div class="listTopic" style="display: inline-block;width: 100%;">
													            <div class="photo_info col-sm-6" ng-repeat="item in searchTopicResult track by $index">
														            <div class="photo">
															            <a class="avatar">
																            <img src="{{item.topicimage}}" height="40" width="40" class="avatar">
															            </a>
														            </div>
														            <div class="user_info" style="height: 50px;">
														            	<p style="cursor: pointer; margin-bottom: 5px;" ui-sref="topicDetail({tid:item.topicid})"><span class="user-name">{{item.topicname}}</span></p>
																		<p style="margin-top:-5px;">
																			<a  class="topicItem">Theo dõi <span class="count">{{item.followcount}}</span></a>
																		</p>
														            </div>
														
													            </div>
												            </div>
										                </div>	
												    </div>
												    <div class="animated fadeIn" ng-show="isSet(3)">
												      	 <div class="show-ketqua">Tìm thấy {{searchUserResult.length}} kết quả cho từ khóa: <b>{{keyword}}</b></div>
										                <div class="tab-show"  style="border-bottom:1px solid #ccc; padding-bottom:10px;" >
											                <div class="listTopic" style="display: inline-block;width: 100%;">
													            <div class="photo_info col-sm-6" ng-repeat="item in searchUserResult track by $index">
														            <div class="photo_info">
								                                        <div class="photo">
									                                        <a  class="avatar">
										                                        <img src="{{item.avatar}}" height="40" width="40" class="avatar">
									                                        </a>
								                                        </div>
								                                        <div class="user_info" style="height: 50px;">
								                                        	<p style="cursor: pointer; margin-bottom: 5px;" ui-sref="profile({uid:item.id})"><span class="user-name">{{item.displayname}}</span></p>
																			<p style="margin-top:-5px;">
																				<a  class="topicItem">{{item.description}}</a>
																			</p>
                                                                            
								                                        </div>
							                                        </div>
														
													            </div>
												            </div>
										                </div>	
												      	
												    </div>
                                                   
                                                    
												</div>
												
											</div>
										</div>	
									</div>


									<!-- End Center Content -->
								</div>
							</div>
						</div>
					</div>
					
					
					
				</div>
			</div>
		</div>
		<!--===================================================-->
		<!--End page content-->
	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->
	
	<!--MAIN NAVIGATION-->
	<!--===================================================-->
	
	</div>
</div>
<script type="text/javascript" src="../js/control.js"></script>