﻿<link href="../css/profile.css" rel="stylesheet" type="text/css">
<div class="boxed" ng-controller="changePassController">
	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div>
		<!--Page content-->
		<!--===================================================-->
		<div id="in-page-content" style="min-height: 380px;">
			<div class="panel">
				<div class="panel-body">
					<div class="col-sm-12">
						<div class="center-content" >
							<div class="center-content-body">
								<label>Đổi mật khẩu thành công! <a ui-sref="index" style="color:blue;">Click vào đây</a> để về trang chủ.</label>
							</div>
															
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--===================================================-->
		<!--End page content-->
	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->
	
	<!--MAIN NAVIGATION-->
	<!--===================================================-->
</div>
<script type="text/javascript" src="../js/control.js"></script>