﻿<link href="../css/topic.css" rel="stylesheet" type="text/css">
<div class="boxed" ng-controller="topicController">
	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div>
		<!--Page content-->
		<!--===================================================-->
		<div id="in-page-content">
			<div class="panel">
				<div class="panel-body animated fadeIn" ng-show = "showDetail">
					<!-- Left -->
					<div class="row">
						<div class="hover"></div>  
						<div class="col-sm-9 padding-div">
							<div class="left-col">
								<div class="col-sm-12 padding-div hide-ask">
									<div class="topic-header">
										<div class="photo_info">
											<div class="photo" style="width: 100px;" ng-show="!isAdmin">
												<a class="avatar">
													<img src="{{topicImage}}" height="100" width="100" class="avatar">
												</a>
											</div>
											<div class="photo" style="width: 100px;" ng-show="isAdmin">
												<a class="avatar">
													<img src="{{topicImage}}" height="100" width="100" class="bigavatar">
												</a>
											</div>
											<div class="photo-upload" ng-show="isAdmin">
											    <label for="file-input">
													<img src="../img/camera.png" height="25" width="25">
												</label>

											    <input id="file-input" type="file" ng-model="inputAva" valid-file onchange="angular.element(this).scope().loadImageFileAsURL(1)"/>
											</div>
											<div class="user_info_big ">
												<p class="topicTitle">
													<span>
														<input type="text" placeholder="Tên" ng-model = "txtName" ng-show="!isName" my-enter="update(topicImage)">
													</span>
													<span ng-show="isName">{{topicName}}</span>
													<span>
														<a class="editName" ng-click="putName()" ng-show="isName && isAdmin"><i class="fa fa-pencil"></i></a>
													</span>
												</p>
												<!-- user thi uncomment -->
												<div class="actionBar" ng-show="topicName != undefined">
													<button class="btn btn-info btn-sm" ng-show="isfollow && logged" ng-click="unfollowTopic(topicId)">Bỏ theo dõi</span></button>
													<button class="btn btn-info btn-sm" ng-show="!isfollow && logged" ng-click="followTopic(topicId)">Theo dõi</button>
												</div>
											</div>

										</div>
									</div>
								</div>
                                
								<div class="col-sm-12 padding-div show-div  " ng-show="logged">
									<!-- Center content -->
                                    <div class="">
							            <div class="center-content">
								            <div class="center-content-answer">
										        <div class="row stt">
											        <div class="col-xs-2 col-sm-1">
												        <div class="photo">
													        <a class="avatar">
														        <img src="{{userAva}}" height="40" width="40" class="avatar">
													        </a>
												        </div>
											        </div>
											        <div class="col-xs-10 col-sm-9 ask-question">
												        <input type="text" id="txtAskQuestion" class="form-control ask-field"  placeholder="Hỏi gì đó..." ng-model="title" my-enter="askQuestion()"/>
												        <!-- <textarea></textarea> -->
											        </div>
											        <div class="col-xs-12 col-sm-2 text-right">
												        <button class="btn btn-info btn-ask" ng-click="askQuestion()">Hỏi</button>
											        </div>
										        </div>
								            </div>
							            </div>
                                    </div>
									
									<!-- End Center Content -->
								</div>
                                <div class="col-sm-12 padding-div show-div">
                                    <div class="center-content">
                                        <div class="center-content-answer">
                                        <div class="row">
                                            
                                                <div class="col-xs-2"><a ng-click="LoadTopQuestion()" id="icontop"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>&nbsp;&nbsp;Top</a>
                                                </div>
                                                <div class="col-xs-2"><a ng-click="LoadNewQuestion()" id="iconnew"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;&nbsp;Mới</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 padding-div hide-ask  ">
                                    <div class="center-content">
										<div class="center-content-body" ng-repeat="item in topicQuestion track by $index">
											<div class="eventHeader">
												<a href="#" class="topicItem">{{topicName}}</a>
											</div>
											<div class="questionTitle">
												<a class="title" ng-attr-id="{{ 'qes' + $index }}" ui-sref="questionDetail({qid:item.id})">
													{{item.title}}
												</a>
												<div>
													<div class="photo_info">
														<div class="photo">
															<a class="avatar">
																<img src="{{item.user.avatar}}" height="40" width="40" class="avatar">
															</a>
														</div>
														<div class="user_info">
															<p style="font-size: 17px;"><a>{{item.user.displayname}}</a></p>
															<p style="margin-top:-5px;">
																<span class="topicItem">Được viết {{item.createtime}}</span>
															</p>
														</div>
													</div>		
		                                            <div class="answer-div">
														<!-- <p class="answer-text">{{item.commentcontent}}</p> -->
														<div ng-attr-id="{{ 'content' + item.id }}"></div>
															{{functiona(item.id)}}

													</div>			
													<!--<p class="topicDes">{{item.content}}</p>-->
													<img src=""  height="100%" width="100%" ng-show="item.img!=null ">
													<div class="inforBar">
														<div class="actionBar followLink"> 
															<span class="topicItem">Vote</span>
															<span class="count">{{item.votecountup - item.votecountdown}}</span>
														</div>
														
			                                            
													</div>
												</div>

											</div>

										</div>	
									</div>
                                </div>
							</div>
						</div>
						<div class="col-sm-3 padding-div hide-ask">
							<!-- RIght Content -->
							<div class="right-col">
								<div class="right-col-header">
									<div class="row" style="margin-bottom: 10px;">
										<div class="col-xs-6">Thông Tin</div>
										<div class="col-xs-6" ng-show="isAdmin"
										><a ng-click="changeDescription()" style="float: right;">Sửa</a></div>
									</div>
								</div>
								<div class="right-col-body">
									<div class="listTopic">
										<div class="topic-row">
											<p ng-show="!isDes">{{topicDes}}</p>
											<textarea class="form-control" ng-model="txtDescription" style="resize: none;" ng-show="isDes" my-enter="update(topicImage)"></textarea>
										</div>
									</div>
									<div class="follow-count row" style="margin-top: 20px">
										<div class="col-sm-6">
											<p class="topicItem">Câu Hỏi <span class="count">{{countQuestion}}</span></p>
										</div>
										<div class="col-sm-6">
											<p class="topicItem">Theo dõi <span class="count">{{followcount}}</span></p>
										</div>
									</div>
								</div>
							</div>
							<!-- End right content -->
						</div>
					</div>
					
					
					
				</div>
			</div>
		</div>
		<!--===================================================-->
		<!--End page content-->
	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->
	
	<!--MAIN NAVIGATION-->
	<!--===================================================-->
	
	</div>
</div>
<script type="text/javascript" src="../js/control.js"></script>